.dashboard-head
    .container-fluid
        .float-left.breadcrumb-blk
            nav(aria-label='breadcrumb')
                ol.breadcrumb
                    li.breadcrumb-item
                        a(href='#') Home
                    li.breadcrumb-item.active(aria-current='page') #{currPage}
        .dashboard-func.clearfix
            ul.float-right
                li.d-func-itm.d-inline-block
                    a.d-func-btn(href="#")
                        i.feather.icon-bell
                        span.noti-numb 3
                    .sub-list
                        .noti-lst
                            .noti-itm.mb-10.clearfix.not-read
                                a(href="#")
                                    i.feather.icon-bell.float-left
                                    .noti-ct.float-right
                                        h3.mb-10 Notification title
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            // END: Notify itm
                            .noti-itm.mb-10.clearfix
                                a(href="#")
                                    i.feather.icon-bell.float-left
                                    .noti-ct.float-right
                                        h3.mb-10 Notification title
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            // END: Notify itm
                            .noti-itm.mb-10.clearfix
                                a(href="#")
                                    i.feather.icon-bell.float-left
                                    .noti-ct.float-right
                                        h3.mb-10 Notification title
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            // END: Notify itm
                            .noti-itm.mb-10.clearfix
                                a(href="#")
                                    i.feather.icon-bell.float-left
                                    .noti-ct.float-right
                                        h3.mb-10 Notification title
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            // END: Notify itm
                            .noti-itm.mb-10.clearfix
                                a(href="#")
                                    i.feather.icon-bell.float-left
                                    .noti-ct.float-right
                                        h3.mb-10 Notification title
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            // END: Notify itm
                        .noti-ft
                            a.btn.btn-blue.d-block(href="#") Read all notifications
                li.d-func-itm.d-inline-block
                    a.d-func-btn(href="#")
                        i.feather.icon-user
                    .sub-list.user-sub
                        ul
                            li
                                a.u-sub-func(href="#") 
                                    i.feather.icon-edit
                                    span My Profile
                            li
                                a.u-sub-func(href="#") 
                                    i.feather.icon-mail
                                    span My Inbox
                            li
                                a.u-sub-func(href="#") 
                                    i.feather.icon-settings
                                    span Settings
                            li.divide
                            li
                                a.u-sub-func(href="#") 
                                    i.feather.icon-log-out
                                    span Logout
                li.d-func-itm.d-inline-block
                    a.d-func-btn(href="#")
                        i.feather.icon-wind
        