header.top-header
    .header-logo
    // END: Header logo
    .main-menu
        .menu-content
            ul.menu-list
                li
                    a.m-itm(href="index.html")
                        i.m-ico.m-home
                        span.m-txt.text-capitalize Dashboard
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-user
                        span.m-txt.text-capitalize Manage Users
                        i.feather.icon-chevron-down
                    .sub-menu
                        ul
                            li
                                a.d-block.sub-menu-itm.text-capitalize(href="user-list.html") Users List
                            li
                                a.d-block.sub-menu-itm.text-capitalize(href="client-list.html") Client List
                            li
                                a.d-block.sub-menu-itm.text-capitalize(href="role.html") Role List
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-product
                        span.m-txt.text-capitalize Manage Products
                        i.feather.icon-chevron-down
                    .sub-menu
                        ul
                            li
                                a.d-block.sub-menu-itm.text-capitalize(href="product-list.html") Products List
                            li
                                a.d-block.sub-menu-itm.text-capitalize(href="product-detail.html") Products Detail
                            li
                                a.d-block.sub-menu-itm.text-capitalize(href="new-product.html") New Product
                    // END: Sub menu
                li
                    a.m-itm(href="category-tag.html")
                        i.m-ico.m-tag
                        span.m-txt.text-capitalize Manage Category - Tags
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-order
                        span.m-txt.text-capitalize Manage Orders - Bills
                        i.feather.icon-chevron-down
                    .sub-menu
                        ul
                            li
                                a.d-block.sub-menu-itm.text-capitalize(href="order-list.html") Orders List
                            li
                                a.d-block.sub-menu-itm.text-capitalize(href="client-list.html") Manage Bills
                            li
                                a.d-block.sub-menu-itm.text-capitalize(href="role.html") Bill templates
                li
                    a.m-itm(href="warehouse.html")
                        i.m-ico.m-inventory
                        span.m-txt.text-capitalize Manage Warehouse
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-financial
                        span.m-txt.text-capitalize Manage Financial
                li
                    a.m-itm(href="provider.html")
                        i.m-ico.m-provider
                        span.m-txt.text-capitalize Manage Provider
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-store
                        span.m-txt.text-capitalize Manage Branches
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-events
                        span.m-txt.text-capitalize Manage Events
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-pages
                        span.m-txt.text-capitalize Manage Pages
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-project
                        span.m-txt.text-capitalize Manage Projects
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-tasks
                        span.m-txt.text-capitalize Manage Tasks
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-department
                        span.m-txt.text-capitalize Manage Department
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-log
                        span.m-txt.text-capitalize Manage Logs
                li
                    a.m-itm(href="javascript:;")
                        i.m-ico.m-setting
                        span.m-txt.text-capitalize Settings
    // END: Main menu
    .sidebar-bg(style="background-image: url('images/sidebar-bg-1.jpg');")