// JS: SCRIPTS
script(src="js/libs.js")
script(src="js/plugins.js")
script(src="js/chart.js")
script(src="js/calendar.js")
script(src="js/start.js")
script(src="js/pages/dashboard.js")
script(src="js/pages/editor.js")
script(src="js/pages/full-calendar.js")
script(src="js/pages/product.js")
