/*
 *
 * Dashboard
 * 1. Dashboard head
 * 2. Card statistics
 * 3. Dashboard chart
 * 4. Daily log
 *
*/ 

// 1. Dashboard head
.dashboard-func {
    margin-top: 15px;
}

.d-func-itm {
    >a {
        display: block;
        height: 48px;
        width: 48px;
        line-height: 48px;
        text-align: center;
        position: relative;
        margin-left: 15px;
        color: #444;
        .feather {
            font-size: 24px;
        }
    }

    .noti-numb {
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        background-color: @orange;
        position: absolute;
        right: 5px;
        top: 0;
        border-radius: 100%;
    }
}

.sub-list {
    position: absolute;
    border-radius: 2px;
    right: 15px;
    width: 350px;
    background-color: #fff;
    .box-shadow(0 1px 3px rgba(0, 0, 0, 0.1));
    .transition(all .4s ease);
    z-index: -1;
    top: 70px;
    visibility: hidden;
    .opacity(0);
    &.shw {
        z-index: 300;
        visibility: visible;
        .opacity(1);
        top: 48px;
    }
    &.user-sub {
        width: 200px;
    }
}

.noti-lst {
    height: 400px;
    position: relative;
}

.noti-itm {
    border-bottom: 1px solid #ebeaea;
    padding-bottom: 10px;
    padding: 15px;
    a {
        display: block;
        color: #212529;
        >.feather {
            font-size: 28px;
            padding-top: 4px;
        }
    }
    .noti-ct {
        width: ~'calc(100% - 28px)';
        padding-left: 10px;
        h3 {
            font-weight: normal;
            font-size: 20px;
        }
    }
    &.not-read {
        a {
            >.feather {
                font-size: 28px;
                padding-top: 4px;
                color: @orange;
            }
        }
        .noti-ct { 
            h3 {
                font-weight: 600;
            }
        }
    }
}

.noti-ft {
    border-top: 1px solid #ebeaea;
    padding: 15px;
    .btn {
        font-size: 14px;
        font-weight: 600;
    }
}

.u-sub-func {
    padding: 8px 15px;
    color: #212529;
    font-size: 14px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    i {
        margin-right: 10px;
        font-size: 22px;
    }
    &:hover {
        color: #212529;
        background-color: #f5f5f5;
    }
}

.user-sub {
    .divide {
        height: 1px;
        background-color: #f5f5f5;
        margin: 5px 0;
    }
}

// 2. Card statistics
.card-statistic {
    color: #fff;
    height: 160px;
    .card-img {
        position: absolute;
        top: 1.25rem;
        right: 1.25rem;
        width: 60px;
        height: 60px;
        img {
            width: 100%;
        }
    }

    .statistic-inf {
        h3 {
            font-weight: normal;
        }
        span {
            font-size: 16px;
        }
    }
}

// 3. Dashboard Chart
.chrt-disp {
    min-height: 400px;
}

// 4. Daily log
.daily-log-list {
    position: relative;
}

.d-log-itm {
    position: relative;
    padding-left: 20px;
    font-size: 14px;
    &:before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 2px solid @navy;
        position: absolute;
        left: 0;
        top: 50%;
        .transform(translateY(-50%));
        z-index: 100;
        background-color: #fff;
    }
}