/*
 *
 * Provider css
 * 1. Provider detail
 *
*/ 

// 1. Provider detail
.prov-contract {
    height: 300px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 15px;
    font-size: 14px;
}

.view-contract {
    font-size: 14px;
    font-weight: 600;
    &:hover {
        text-decoration: underline;
    }
}

.add-contract {
    .upload-notice {
        font-size: 14px;
        font-style: italic;
        font-weight: 600;
        display: block;
    }
}

.upload-area {
    height: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ddd;
    border-radius: 2px;
    cursor: pointer;
    p {
        margin-bottom: 0;
        color: rgb(168, 168, 168);
        font-size: 14px;
        font-weight: 600;
    }
}