form
    .row
        .col-lg-6.col-xs-12.col-12
            .form-group
                label Warehouse name:
                input.ipt.d-block(type="text", placeholder="Warehouse name", value="Asus warehouse")
                span.err-msg.d-none This field is required
        .col-lg-6.col-xs-12.col-12
            .form-group
                label Warehouse address:
                input.ipt.d-block(type="text", placeholder="Warehouse address", value="Asus warehouse address")
                span.err-msg.d-none This field is required
    .row
        .col-lg-6.col-xs-12.col-12
            .form-group
                label Warehouse location:
                select.ipt-select.d-block
                    option Select location
                    option Location 1
                    option Location 2
                    option Location 3
                    option Location 4
                span.err-msg.d-none This field is required
        .col-lg-6.col-xs-12.col-12
            .form-group
                label Create at:
                input.ipt.d-block(type="text", readonly, placeholder="Create at", value="01/28/2018")
    .row
        .col-lg-6.col-xs-12.col-12
            .form-group
                label Total products:
                input.ipt.d-block(type="text", placeholder="Total products", value="100")
                span.err-msg.d-none This field is required
        .col-lg-6.col-xs-12.col-12
            .form-group
                label Last modified:
                input.ipt.d-block(type="text", readonly, placeholder="Last modified", value="01/28/2018")
    .form-group
        label Product short description:
        #editor-txt-1
    hr
    .text-right
        button.btn.btn-red.mr-15.submit-btn Cancel order
        button.btn.btn-blue.submit-btn Save changes