/*
 *
 * Product css
 * 1. Product detail
 *
*/ 

// 1. Product detail
.search-prod-blk {
    position: relative;
    .submit-search {
        position: absolute;
        right: 0;
        top: 0;
        border: none;
        background-color: transparent;
        display: block;
        line-height: 34px;
        font-size: 14px;
        width: 36px;
        text-align: center;
    }
}
.submit-btn {
    font-size: 14px;
    font-weight: 600;
}

.is-enabled {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 100;
    .transform(translateY(-50%));
}

.d-p-img {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 2px;
    img{
        width: 150px;
    }
    &.upload-area {
        border-width: 2px;
        border-style: dashed;
        height: 172px;
        width: 172px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        p {
            text-align: center;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 14;
            color: rgb(136, 135, 135);
        }
    }
}