#new-provider-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='new-provider-modal', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLongTitle.modal-title New provider
                a.close(href="javascript:;", data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .cate-detail-ct
                    form
                        .row
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider name:
                                    input.ipt.d-block(type="text", placeholder="Provider name")
                                    span.err-msg.d-none This field is required
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider websie:
                                    input.ipt.d-block(type="text", placeholder="Provider websie")
                        .row
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider phone:
                                    input.ipt.d-block(type="text", placeholder="Provider phone")
                                    span.err-msg.d-none This field is required
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider address:
                                    input.ipt.d-block(type="text", placeholder="Provider address")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Sign contract at:
                                    input.ipt.d-block(type="text", placeholder="Sign contract at")
                                    //- span.err-msg.d-none This field is required
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Expired date:
                                    input.ipt.d-block(type="text", placeholder="Expired date")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Product provide:
                                    select.ipt-select.d-block
                                        option Select product
                                        option Product 1
                                        option Product 2
                                        option Product 3
                                        option Product 4
                                    span.err-msg.d-none This field is required
                                    .tags-list.mt-15
                                        .tag-itm.mr-10.d-inline-block
                                            span.mr-10 Product 1
                                            a.del-tag(href="javascript:;")
                                                i.feather.icon-x
                                        .tag-itm.mr-10.d-inline-block
                                            span.mr-10 Product 2
                                            a.del-tag(href="javascript:;")
                                                i.feather.icon-x
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider location:
                                    select.ipt-select.d-block
                                        option Select location
                                        option Location 1
                                        option Location 2
                                        option Location 3
                                        option Location 4
                                    span.err-msg.d-none This field is required
                        .form-group
                            label Provider description:
                            #editor-txt-2
                        .form-group
                            label Contract:
                            .add-contract
                                span.upload-notice.mb-10 File type: .doc, .pdf, docs. (Maximum file size: 2MB)
                                span.err-msg.d-none.mb-10 This field is required
                                .upload-area
                                    p Add new contract
                        .form-group
                            label.mr-15 Enabled:
                            .chkb.d-inline-block
                                input#provider-isactive(type="checkbox")
                                label.mb-0(for="provider-isactive") Yes
            .modal-footer
                button.btn.btn-red(type='button', data-dismiss='modal') Close
                button.btn.btn-blue(type='button') Create provider
// END: Provider detail modal