#provider-detail-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='provider-detail-modal', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLongTitle.modal-title Asus provider
                a.close(href="javascript:;", data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .cate-detail-ct
                    form
                        .row
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider name:
                                    input.ipt.d-block(type="text", placeholder="Provider name", value="Asus provider")
                                    span.err-msg.d-none This field is required
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider websie:
                                    input.ipt.d-block(type="text", placeholder="Provider websie", value="www.abc.com")
                        .row
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider phone:
                                    input.ipt.d-block(type="text", placeholder="Provider phone", value="(343) 123-3412")
                                    span.err-msg.d-none This field is required
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider address:
                                    input.ipt.d-block(type="text", placeholder="Provider address", value="Lorem Ipsum is simply dummy text of the printing and typesetting industry.")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Create at:
                                    input.ipt.d-block(type="text", readonly, placeholder="Create at", value="01/28/2018")
                                    //- span.err-msg.d-none This field is required
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Last modified:
                                    input.ipt.d-block(type="text", readonly, placeholder="Last modified", value="01/28/2018")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Sign contract at:
                                    input.ipt.d-block(type="text", readonly, placeholder="Sign contract at", value="01/28/2018")
                                    //- span.err-msg.d-none This field is required
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Expired date:
                                    input.ipt.d-block(type="text", placeholder="Expired date", value="01/28/2020")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Product provide:
                                    select.ipt-select.d-block
                                        option Select product
                                        option Product 1
                                        option Product 2
                                        option Product 3
                                        option Product 4
                                    span.err-msg.d-none This field is required
                                    .tags-list.mt-15
                                        .tag-itm.mr-10.d-inline-block
                                            span.mr-10 Product 1
                                            a.del-tag(href="javascript:;")
                                                i.feather.icon-x
                                        .tag-itm.mr-10.d-inline-block
                                            span.mr-10 Product 2
                                            a.del-tag(href="javascript:;")
                                                i.feather.icon-x
                            .col-lg-6.col-xs-12.col-12
                                .form-group
                                    label Provider location:
                                    select.ipt-select.d-block
                                        option Select location
                                        option Location 1
                                        option Location 2
                                        option Location 3
                                        option Location 4
                                    span.err-msg.d-none This field is required
                        .form-group
                            label Provider description:
                            #editor-txt-1
                        .form-group
                            label.d-block Contract detail:
                            a.view-contract.mb-10.d-inline-block(href="#") View contract
                            .prov-contract
                                p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
                                p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.
                        .form-group
                            label.mr-15 Enabled:
                            .chkb.d-inline-block
                                input#provider-isactive(type="checkbox", checked)
                                label.mb-0(for="provider-isactive") Yes
            .modal-footer
                button.btn.btn-red(type='button', data-dismiss='modal') Close
                button.btn.btn-blue(type='button') Save changes
// END: Provider detail modal