/*
 *
 * User css
 * 1. User detail
 *
*/ 

// 1. User detail

.log-wrk {
    .log-wrk-list {
        display: none;
        border: 1px solid #ddd;
        border-radius: 2px;
        padding: 15px;
        position: relative;
        height: 300px;
        &.shw {
            display: block;
        }
    }
    .log-wrk-itm {
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: #212529;
        .lg-wrk-ttl {
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        .lg-wrk-ct {
            p {
                font-size: 14px;
            }
        }
    }
}

#log-order-list {
    display: none;
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 15px;
    position: relative;
    height: 300px;
    &.shw {
        display: block;
    }
    .ord-itm {
        color: #212529;
        border-bottom: 1px solid #ddd;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .ord-ttl {
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .ord-ct {
        p {
            font-size: 14px;
        }
    }
}

.access-list {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 15px;
    position: relative;
    height: 200px;
}