#client-detail-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='client-detail-modal', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLongTitle.modal-title John Doe
                a.close(href="javascript:;", data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .user-detail-ct
                    form
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Username:
                                    input.ipt.d-block(type="text", readonly, placeholder="Username", value="Username123")
                                    span.err-msg.d-none This field is required
                            .col-md-6.col-12
                                .form-group
                                    label Level:
                                    input.ipt.d-block(type="text", readonly, placeholder="Level", value="Vip 5")
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Firstname:
                                    input.ipt.d-block(type="text", readonly, placeholder="Firstname", value="John")
                                    span.err-msg.d-none This field is required
                            .col-md-6.col-12
                                .form-group
                                    label Lastname:
                                    input.ipt.d-block(type="text", readonly, placeholder="Lastname", value="Doe")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Email:
                                    input.ipt.d-block(type="text", readonly, placeholder="Email", value="johndoe@gmail.com")
                                    span.err-msg.d-none This field is required
                            .col-md-6.col-12
                                .form-group
                                    label Phone number:
                                    input.ipt.d-block(type="text", readonly, placeholder="Phone number", value="(342) 123 452 1234")
                                    span.err-msg.d-none This field is required
                        .form-group
                            label Address:
                            input.ipt.d-block(type="text", readonly, placeholder="Address", value="Lorem Ipsum is simply dummy text of the printing and typesetting industry")
                            span.err-msg.d-none This field is required
                        .row
                            .col-md-4.col-12
                                .form-group
                                    label Poitns:
                                    input.ipt.d-block(type="text", placeholder="Points", value="50")
                            .col-md-4.col-12
                                .form-group
                                    label Lock client:
                                    .chkb
                                        input#lock-client(type="checkbox")
                                        label.mb-0(for="lock-client") Yes
                            .col-md-4.col-12
                                .form-group
                                    label Password:
                                    .reset-pass
                                        button.btn.btn-navy Reset password
                        .row
                            .col-md-4.col-12
                                .form-group
                                    label Create at:
                                    input.ipt.d-block(type="text", readonly, placeholder="Create at", value="01/10/2018")
                            .col-md-4.col-12
                                .form-group
                                    label Update at:
                                    input.ipt.d-block(type="text", readonly, placeholder="Update at", value="01/12/2018")
                            .col-md-4.col-12
                                .form-group
                                    label Lastest login:
                                    input.ipt.d-block(type="text", readonly, placeholder="Lastest login", value="01/31/2018 12:01")
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Log list:
                                    .log-wrk
                                        button.shw-log-wrk.btn.btn-blue.mb-10(data-id="log-wrk-list") Show log
                                        .log-wrk-list#log-wrk-list
                                            a.d-block.log-wrk-itm(href="#")
                                                .lg-wrk-ttl
                                                    h3 Log work title
                                                .lg-wrk-ct
                                                    p.mb-10 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                    span.date 01/31/2018 16:19
                                            a.d-block.log-wrk-itm(href="#")
                                                .lg-wrk-ttl
                                                    h3 Log work title
                                                .lg-wrk-ct
                                                    p.mb-10 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                    span.date 01/31/2018 16:19
                                            a.d-block.log-wrk-itm(href="#")
                                                .lg-wrk-ttl
                                                    h3 Log work title
                                                .lg-wrk-ct
                                                    p.mb-10 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                                    span.date 01/31/2018 16:19
                            // END: Log list
                            .col-md-6.col-12
                                .form-group
                                    label Orders list:
                                    .order-lst
                                        button.shw-log-wrk.btn.btn-blue.mb-10(data-id="log-order-list") Show orders
                                        #log-order-list
                                            a.d-block.ord-itm(href="#")
                                                .ord-ttl
                                                    h3 Order title
                                                .ord-ct
                                                    p.mb-10
                                                        strong.ttl-name Price: 
                                                        span.val.mr-30 10,200,000đ
                                                        span.d-inline-block.badge.badge-warning Pending
                                                    span.d-block.date 01/30/2018 16:34
                                            a.d-block.ord-itm(href="#")
                                                .ord-ttl
                                                    h3 Order title
                                                .ord-ct
                                                    p.mb-10
                                                        strong.ttl-name Price: 
                                                        span.val.mr-30 10,200,000đ
                                                        span.d-inline-block.badge.badge-success Done
                                                    span.d-block.date 01/30/2018 16:34
                                            a.d-block.ord-itm(href="#")
                                                .ord-ttl
                                                    h3 Order title
                                                .ord-ct
                                                    p.mb-10
                                                        strong.ttl-name Price: 
                                                        span.val.mr-30 10,200,000đ
                                                        span.d-inline-block.badge.badge-danger Cancel
                                                    span.d-block.date 01/30/2018 16:34

            .modal-footer
                button.btn.btn-red(type='button', data-dismiss='modal') Close
                button.btn.btn-blue(type='button') Save changes
// END: User detail modal