#new-user-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='new-user-modal', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLongTitle.modal-title New user
                a.close(href="javascript:;", data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .user-detail-ct
                    form
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Username:
                                    input.ipt.d-block(type="text", placeholder="Username")
                                    span.err-msg.d-none This field is required
                            .col-md-6.col-12
                                .form-group
                                    label Email:
                                    input.ipt.d-block(type="text", placeholder="Email")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Firstname:
                                    input.ipt.d-block(type="text", placeholder="Firstname")
                                    span.err-msg.d-none This field is required
                            .col-md-6.col-12
                                .form-group
                                    label Lastname:
                                    input.ipt.d-block(type="text", placeholder="Lastname")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Role:
                                    select.ipt-select.d-block
                                        option Select role
                                        option Role 1
                                        option Role 2
                                        option Role 3
                                    span.err-msg.d-none This field is required
                                    .tags-list.mt-15
                                        .tag-itm.mr-10.d-inline-block
                                            span.mr-10 Role 1
                                            a.del-tag(href="javascript:;")
                                                i.feather.icon-x
                                        .tag-itm.mr-10.d-inline-block
                                            span.mr-10 Role 2
                                            a.del-tag(href="javascript:;")
                                                i.feather.icon-x
                            .col-md-6.col-12
                                .form-group
                                    label Phone number:
                                    input.ipt.d-block(type="text", placeholder="Phone number")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Address:
                                    input.ipt.d-block(type="text", placeholder="Address")
                                    span.err-msg.d-none This field is required
            .modal-footer
                button.btn.btn-red(type='button', data-dismiss='modal') Close
                button.btn.btn-blue(type='button') Create user
// END: New user modal