#user-detail-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='user-detail-modal', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLongTitle.modal-title John Doe
                a.close(href="javascript:;", data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .user-detail-ct
                    form
                        .form-group
                            label Username:
                            input.ipt.d-block(type="text", placeholder="Username", value="Username123")
                            span.err-msg.d-none This field is required
                        .form-group
                            label Email:
                            input.ipt.d-block(type="text", placeholder="Email", value="johndoe@gmail.com")
                            span.err-msg.d-none This field is required
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Firstname:
                                    input.ipt.d-block(type="text", placeholder="Firstname", value="John")
                                    span.err-msg.d-none This field is required
                            .col-md-6.col-12
                                .form-group
                                    label Lastname:
                                    input.ipt.d-block(type="text", placeholder="Lastname", value="Doe")
                                    span.err-msg.d-none This field is required
                        .row
                            .col-md-6.col-12
                                .form-group
                                    label Role:
                                    select.ipt-select.d-block
                                        option Select role
                                        option Role 1
                                        option Role 2
                                        option Role 3
                                    span.err-msg.d-none This field is required
                                    .tags-list.mt-15
                                        .tag-itm.mr-10.d-inline-block
                                            span.mr-10 Role 1
                                            a.del-tag(href="javascript:;")
                                                i.feather.icon-x
                                        .tag-itm.mr-10.d-inline-block
                                            span.mr-10 Role 2
                                            a.del-tag(href="javascript:;")
                                                i.feather.icon-x
                            .col-md-6.col-12
                                .form-group
                                    label Phone number:
                                    input.ipt.d-block(type="text", placeholder="Phone number", value="(342) 123 452 1234")
                                    span.err-msg.d-none This field is required
                        .form-group
                            label Address:
                            input.ipt.d-block(type="text", placeholder="Address", value="Lorem Ipsum is simply dummy text of the printing and typesetting industry")
                            span.err-msg.d-none This field is required
                        .row
                            .col-md-4.col-12
                                .form-group
                                    label IsActive:
                                    .chkb
                                        input#isactive-user(type="checkbox", checked)
                                        label.mb-0(for="isactive-user") Active
                            .col-md-4.col-12
                                .form-group
                                    label Lock user:
                                    .chkb
                                        input#lock-user(type="checkbox")
                                        label.mb-0(for="lock-user") Yes
                            .col-md-4.col-12
                                .form-group
                                    label Password:
                                    .reset-pass
                                        button.btn.btn-navy Reset password
                        .row
                            .col-md-4.col-12
                                .form-group
                                    label Create at:
                                    input.ipt.d-block(type="text", readonly, placeholder="Create at", value="01/10/2018")
                            .col-md-4.col-12
                                .form-group
                                    label Update at:
                                    input.ipt.d-block(type="text", readonly, placeholder="Update at", value="01/12/2018")
                            .col-md-4.col-12
                                .form-group
                                    label Lastest login:
                                    input.ipt.d-block(type="text", readonly, placeholder="Lastest login", value="01/31/2018 12:01")
                        .form-group
                            label Log work:
                            .log-wrk
                                button.shw-log-wrk.btn.btn-blue.mb-10 Show log
                                .log-wrk-list
                                    a.d-block.log-wrk-itm(href="#")
                                        .lg-wrk-ttl
                                            h3 Log work title
                                        .lg-wrk-ct
                                            p.mb-10 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            span.date 01/31/2018 16:19
                                    a.d-block.log-wrk-itm(href="#")
                                        .lg-wrk-ttl
                                            h3 Log work title
                                        .lg-wrk-ct
                                            p.mb-10 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            span.date 01/31/2018 16:19
                                    a.d-block.log-wrk-itm(href="#")
                                        .lg-wrk-ttl
                                            h3 Log work title
                                        .lg-wrk-ct
                                            p.mb-10 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            span.date 01/31/2018 16:19
            .modal-footer
                button.btn.btn-red(type='button', data-dismiss='modal') Close
                button.btn.btn-blue(type='button') Save changes
// END: User detail modal