form.form-prod
    .row
        .col-md-6.col-12
            .form-group
                label Product name:
                input.ipt.d-block(type="text", placeholder="Product name", value="ASUS Z370 ROG Maximus X Hero (WI-FI AC) Socket 1151v2")
                span.err-msg.d-none This field is required
        .col-md-6.col-12
            .form-group
                label Manufacture:
                input.ipt.d-block(type="text", readonly, placeholder="Manufacture", value="Asus")
    .row
        .col-md-6.col-12
            .form-group
                label Product price:
                input.ipt.d-block(type="text", placeholder="Product price", value="10,640,000")
                span.unit VNĐ
                span.err-msg.d-none This field is required
        .col-md-6.col-12
            .form-group
                label Barcode:
                input.ipt.d-block(type="text", readonly, placeholder="Barcode", value="123456789012")
                span.err-msg.d-none This field is required
    .row
        .col-md-6.col-12
            .form-group
                label Category:
                select.ipt-select.d-block
                    option Select category
                    option Category 1
                    option Category 2
                    option Category 3
                span.err-msg.d-none This field is required
        .col-md-6.col-12
            .form-group
                label Product code:
                input.ipt.d-block(type="text", readonly, placeholder="Product code", value="MB123123")
                //- span.err-msg.d-none This field is required
    .row
        .col-md-6.col-12
            .form-group
                label Guarantee:
                input.ipt.d-block(type="text", placeholder="Guarantee", value="36 month")
                span.err-msg.d-none This field is required
        .col-md-6.col-12
            .form-group
                label Create at:
                input.ipt.d-block(type="text", readonly, placeholder="Create at", value="01/28/2018")
    .row
        .col-md-6.col-12
            .form-group
                label Quantity:
                input.ipt.d-block(type="text", placeholder="Quantity", value="10")
                span.err-msg.d-none This field is required
        .col-md-6.col-12
            .form-group
                label Update at:
                input.ipt.d-block(type="text", readonly, placeholder="Update at", value="01/28/2018")
    .row
        .col-md-6.col-12
            .form-group
                label Tags:
                select.ipt-select.d-block
                    option Select tag
                    option Mainboard
                    option Camera
                    option VGA
                .tags-list.mt-15
                    .tag-itm.mr-10.d-inline-block
                        span.mr-10 Mainboard
                        a.del-tag(href="javascript:;")
                            i.feather.icon-x
                    .tag-itm.mr-10.d-inline-block
                        span.mr-10 Z370
                        a.del-tag(href="javascript:;")
                            i.feather.icon-x
        .col-md-6.col-12
            .form-group
                label Branch in stock:
                select.ipt-select.d-block
                    option Select branch
                    option Branch 1
                    option Branch 2
                    option Branch 3
                span.err-msg.d-none This field is required
                .tags-list.mt-15
                    .tag-itm.mr-10.d-inline-block
                        span.mr-10 Branch 1
                        a.del-tag(href="javascript:;")
                            i.feather.icon-x
                    .tag-itm.mr-10.d-inline-block
                        span.mr-10 Branch 2
                        a.del-tag(href="javascript:;")
                            i.feather.icon-x
    .row
        .col-md-6.col-12
            .form-group
                label Promotion:
                select.ipt-select.d-block
                    option Select promotion
                    option Promotion 1
                    option Promotion 2
                    option Promotion 3
        .col-md-6.col-12
            .form-group
                label Rate:
                input.ipt.d-block(type="text", placeholder="Rate", value="4.5")
                span.unit Max: 5
    .row
        .col-md-6.col-12
            .form-group
                label Provider:
                input.ipt.d-block(type="text", placeholder="Provider", value="Amazon")
                span.err-msg.d-none This field is required
    .row
        .col-md-6.col-12
            .form-group
                label Product short description:
                #editor-txt-1
        .col-md-6.col-12
            .form-group
                label Product description:
                #editor-txt-2
    .text-right
        button.btn.btn-blue.submit-btn Save changes