.p-img-inner.clearfix
    #lightgallery
        a.d-p-img(href="uploads/products/main-1.png")
            img(src="uploads/products/main-1.png", alt="")
        a.d-p-img(href="uploads/products/main-2.jpg")
            img(src="uploads/products/main-2.jpg", alt="")
        a.d-p-img(href="uploads/products/main-3.jpg")
            img(src="uploads/products/main-3.jpg", alt="")
        a.d-p-img(href="uploads/products/main-4.png")
            img(src="uploads/products/main-4.png", alt="")
        a.d-p-img(href="uploads/products/main-5.jpg")
            img(src="uploads/products/main-5.jpg", alt="")
    .d-p-img.upload-area
        p Click here to upload product images