.prod-statistic-inner
    .statistic-chrt-blk.mb-30
        .statistic-filt
            .row
                .col-lg-6.col-xs-12.col-12.mb-10
                    .from-date.d-inline-block.mr-15
                        strong.mr-10 From:
                        input.ipt(type="text", placeholder="From date")
                    .from-date.d-inline-block.mr-15
                        strong.mr-10 To:
                        input.ipt(type="text", placeholder="To date")
                    button.btn.btn-blue Apply filter
        #prod-sell-chrt.chrt-disp
    hr
    .statistic-chrt-blk.mt-30
        .statistic-filt
            .row
                .col-lg-6.col-xs-12.col-12.mb-10
                    .from-date.d-inline-block.mr-15
                        strong.mr-10 From:
                        input.ipt(type="text", placeholder="From date")
                    .from-date.d-inline-block.mr-15
                        strong.mr-10 To:
                        input.ipt(type="text", placeholder="To date")
                    button.btn.btn-blue Apply filter
        #area-sell-chrt.chrt-disp