.table-filter.mb-30
    .row
        .col-md-4.col-12
            .tb-search
                input.ipt.d-block(type="text", placeholder="Enter category name")
                button.submit-search
                    i.fa.fa-search
        // END: Table search
        .col-md-8.col-12
            .tb-general-filter
                .tb-filter-inner.text-right
                    button.btn.btn-red.mr-15 Delete
                    button.btn.btn-blue(, data-toggle="modal", data-target="#new-cate-modal") Create new category
        // END: Table filter
.table-responsive
    table.table.table-hover
        tr
            th
                .chkb
                    input#cate-chk-all(type="checkbox")
                    label.mb-0(for="cate-chk-all")
            th
                p.tb-head.mb-0
                    span Category name
                    i.fa.fa-caret-down.ml-10
            th
                p.tb-head.mb-0.text-center
                    span Description
            th
                p.tb-head.mb-0.text-center
                    span Create at
                    i.fa.fa-caret-down.ml-10
            th
                p.tb-head.mb-0.text-center
                    span Update at
                    i.fa.fa-caret-down.ml-10
            th
                p.tb-head.mb-0.text-center
                    span IsActive
            th
        // END: Table th
        tr
            td
            td
                input.ipt.d-block(type="text", placeholder="Enter category name")
            td
                input.ipt.d-block(type="text", placeholder="Enter category description")
            td
                .date-ipt
                    input.ipt.d-block(type="text", placeholder="Enter date")
                    i.feather.icon-calendar
            td
                .date-ipt
                    input.ipt.d-block(type="text", placeholder="Enter date")
                    i.feather.icon-calendar
            td
                select.ipt-select.d-block
                    option(value="") Both 2 status
                    option(value="") Active
                    option(value="") Inactive
            td
        tr
            td
                .chkb
                    input#cate-1(type="checkbox")
                    label.mb-0(for="cate-1")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#cate-modal") Category 1
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#cate-modal")
                    i.feather.icon-edit-2
        // END: Category td
        tr
            td
                .chkb
                    input#cate-2(type="checkbox")
                    label.mb-0(for="cate-2")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#cate-modal") Category 2
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#cate-modal")
                    i.feather.icon-edit-2
        // END: Category td
        tr
            td
                .chkb
                    input#cate-3(type="checkbox")
                    label.mb-0(for="cate-3")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#cate-modal") Category 3
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#cate-modal")
                    i.feather.icon-edit-2
        // END: Category td
        tr
            td
                .chkb
                    input#cate-4(type="checkbox")
                    label.mb-0(for="cate-4")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#cate-modal") Category 4
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#cate-modal")
                    i.feather.icon-edit-2
        // END: Category td
        tr
            td
                .chkb
                    input#cate-5(type="checkbox")
                    label.mb-0(for="cate-5")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#cate-modal") Category 5
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#cate-modal")
                    i.feather.icon-edit-2
        // END: Category td
// END: Table
.table-ft.clearfix.mt-15
    .show-itm.float-left
        span.mr-10 Show
        select.ipt-select
            option 10 items
            option 15 items
            option 20 items
            option 25 items
        .total-itm.ml-30.d-inline
            span.mr-10 Total items: 
            strong 20
    .paging-tb.float-right
        button.btn.btn-navy.mr-10.disabled Previous
        strong.pages 1/4
        button.btn.btn-navy.ml-10 Next
// END: Category list