.table-filter.mb-30
    .row
        .col-md-4.col-12
            .tb-search
                input.ipt.d-block(type="text", placeholder="Enter tag name")
                button.submit-search
                    i.fa.fa-search
        // END: Table search
        .col-md-8.col-12
            .tb-general-filter
                .tb-filter-inner.text-right
                    button.btn.btn-red.mr-15 Delete
                    button.btn.btn-blue(, data-toggle="modal", data-target="#new-tag-modal")
                        | Create new tag
        // END: Table filter
.table-responsive
    table.table.table-hover
        tr
            th
                .chkb
                    input#tag-chk-all(type="checkbox")
                    label.mb-0(for="tag-chk-all")
            th
                p.tb-head.mb-0
                    span Tag name
                    i.fa.fa-caret-down.ml-10
            th
                p.tb-head.mb-0.text-center
                    span Tag description
                    i.fa.fa-caret-down.ml-10
            th
                p.tb-head.mb-0.text-center
                    span Create at
                    i.fa.fa-caret-down.ml-10
            th
                p.tb-head.mb-0.text-center
                    span Update at
                    i.fa.fa-caret-down.ml-10
            th
                p.tb-head.mb-0.text-center
                    span IsActive
                    i.fa.fa-caret-down.ml-10
            th
        // END: Table th
        tr
            td
            td
                input.ipt.d-block(type="text", placeholder="Tag name")
            td
                input.ipt.d-block(type="text", placeholder="Tag description")
            td
                .date-ipt
                    input.ipt.d-block(type="text", placeholder="Enter date")
                    i.feather.icon-calendar
            td
                .date-ipt
                    input.ipt.d-block(type="text", placeholder="Enter date")
                    i.feather.icon-calendar
            td
                select.ipt-select.d-block
                    option(value="") Both 2 status
                    option(value="") Active
                    option(value="") InActive
            td
        tr
            td
                .chkb
                    input#tag-1(type="checkbox")
                    label.mb-0(for="tag-1")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#tag-modal") Tag 1
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#tag-modal")
                    i.feather.icon-edit-2
        // END: Tag td
        tr
            td
                .chkb
                    input#tag-2(type="checkbox")
                    label.mb-0(for="tag-2")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#tag-modal") Tag 2
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 2500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#tag-modal")
                    i.feather.icon-edit-2
        // END: Tag td
        tr
            td
                .chkb
                    input#tag-3(type="checkbox")
                    label.mb-0(for="tag-3")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#tag-modal") Tag 3
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#tag-modal")
                    i.feather.icon-edit-2
        // END: Tag td
        tr
            td
                .chkb
                    input#tag-4(type="checkbox")
                    label.mb-0(for="tag-4")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#tag-modal") Tag 4
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#tag-modal")
                    i.feather.icon-edit-2
        // END: Tag td
        tr
            td
                .chkb
                    input#tag-5(type="checkbox")
                    label.mb-0(for="tag-5")
            td
                p.mb-0 
                    a(href="#", data-toggle="modal", data-target="#tag-modal") Tag 5
            td
                p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center 01/27/2018
            td
                p.mb-0.text-center
                    span.badge.badge-success Active
            td.text-center
                a.btn.btn-red.mr-15(href="javascript:;")
                    i.feather.icon-trash-2
                a.btn.btn-blue(href="javascript:;", data-toggle="modal", data-target="#tag-modal")
                    i.feather.icon-edit-2
        // END: Tag td
// END: Table
.table-ft.clearfix.mt-15
    .show-itm.float-left
        span.mr-10 Show
        select.ipt-select
            option 10 items
            option 15 items
            option 20 items
            option 25 items
        .total-itm.ml-30.d-inline
            span.mr-10 Total items: 
            strong 20
    .paging-tb.float-right
        button.btn.btn-navy.mr-10.disabled Previous
        strong.pages 1/4
        button.btn.btn-navy.ml-10 Next
// END: Tag table