#new-tag-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='new-tag-modal', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLongTitle.modal-title New Tag
                a.close(href="javascript:;", data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .cate-detail-ct
                    form
                        .form-group
                            label Tag name:
                            input.ipt.d-block(type="text", placeholder="Tag name", value="")
                            span.err-msg.d-none This field is required
                        .form-group
                            label Tag description:
                            #new-editor-txt-2
                        .form-group
                            label.mr-15 IsActive:
                            .chkb.d-inline-block
                                input#tag-isactive(type="checkbox")
                                label.mb-0(for="tag-isactive") Active
            .modal-footer
                button.btn.btn-red(type='button', data-dismiss='modal') Close
                button.btn.btn-blue(type='button') Create