#new-cate-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='new-cate-modal', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLongTitle.modal-title New Category
                a.close(href="javascript:;", data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .cate-detail-ct
                    form
                        .form-group
                            label Category name:
                            input.ipt.d-block(type="text", placeholder="Category name", value="")
                            span.err-msg.d-none This field is required
                        .form-group
                            label Category description:
                            #new-editor-txt-1
                        .form-group
                            label.mr-15 IsActive:
                            .chkb.d-inline-block
                                input#cate-isactive(type="checkbox")
                                label.mb-0(for="cate-isactive") Active
            .modal-footer
                button.btn.btn-red(type='button', data-dismiss='modal') Close
                button.btn.btn-blue(type='button') Create