#tag-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='tag-modal', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLongTitle.modal-title Tag 1
                a.close(href="javascript:;", data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .cate-detail-ct
                    form
                        .form-group
                            label Tag name:
                            input.ipt.d-block(type="text", placeholder="Category name", value="Tag 1")
                            span.err-msg.d-none This field is required
                        .form-group
                            label Tag description:
                            #editor-txt-2
                        .form-group
                            label.mr-15 IsActive:
                            .chkb.d-inline-block
                                input#tag-dt-isactive(type="checkbox", checked)
                                label.mb-0(for="tag-dt-isactive") Active
            .modal-footer
                button.btn.btn-red(type='button', data-dismiss='modal') Close
                button.btn.btn-blue(type='button') Save changes