/**
 * Base settings
 *
 * Description: fast setting for bootstrap and rules. Use to store variable that use in <selectors> and <mixins>
 */


//** ------ {{ color and cusotmiaztion variables }} ------------------------------------
//** application color table
@blue: #0063d1;
@navy: #009DA0;
@red: #e14546;
@green: #28a745;
@yellow: #ffc107;
@yell_green: #bfd630;
@grey: #868e96;
@grey_light: #A6A9AE;
@grey_dark: #343a40;
@purple: #6f42c1;
@pink: #e83e8c;
@orange: #EE5838;

/** --------------------------------------- **/
/**
 * SET UP WHOLE SITE
 */
body {
    background: #F5F7FA;
    font-size: 12px;
}
a {
    outline: none;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

input, textarea, button, select {
    outline: none;
}

.main-section {
    margin-left: 250px;
    padding: 0 15px;
}