block vars
  title Home
  showTop false
doctype html
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    //-- Call font
    link(rel="shortcut icon", href="icons/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
  body
    .body-wrap
      include ../includes/header.jade
      section.main-section
        include ../includes/dashboard-head.jade
        
        block main
      include ../includes/footer.jade
      include ../includes/scripts.jade
