/*
 *
 * Login css
 *
*/ 

.login-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    visibility: visible;
    background-image: linear-gradient(45deg, #360033, #0B8793);
    background-repeat: repeat-x;
    &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &:before {
        opacity: 0.33;
    }
    &:after {
        opacity: 0.77;
        z-index: 3;
    }
}

.login-bg {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    &:after {
        background: #FF8D60;
        // background-image: linear-gradient(45deg, #360033, #0B8793);
        // background-repeat: repeat-x;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: 0.83;
    }
}

.login-inner {
    position: relative;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-frm {
    width: 500px;
    border-radius: 2px;
    margin: 0 auto;
    color: #fff;
    .blk-ttl {
        h3 {
            color: #f9f5ff;
            font-size: 1.5rem;
        }
    }
    .ipt {
        border: none;
        // background-color: rgba(255, 141, 96, 0.7);
        background-color: rgba(0, 157, 160, 0.7);
        color: #fff;
        padding: 1rem 1rem;
        // border-radius: 40px;
        font-size: 14px;
    }

    .forgot-pass-btn {
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        &:hover {
            text-decoration: underline;
        }
    }

    .btn-login {
        padding: 10px 30px;
        font-weight: 600;
        font-size: 14px;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: #fff;
        opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #fff;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: #fff;
    }

    .chkb {
        label {
            &:before{
                border-color: #fff;
            }
        }
        input[type="checkbox"]:checked + label {
            &:before {
                background-color: rgba(0, 157, 160, 1);
                border-color: rgba(0, 157, 160, 1);
            }
        }
    }
}