block vars
    -title="Manage Category and Tags"
    -currPage = "Category and Tags"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.cate-tag-blk
                .m-prod-inner
                    .blk-ttl
                        h3 Category and Tags
                    .tab-custom
                        ul#cate-tag.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a#category-tab.nav-link.active(data-toggle='tab', href='#category-inf-tab', role='tab', aria-controls='category-inf-tab', aria-selected='true') Category List
                            li.nav-item
                                a#tag-list-tab.nav-link(data-toggle='tab', href='#tag-inf', role='tab', aria-controls='tag-inf', aria-selected='false') Tags List
                    #cate-tag-ct.tab-content
                        #category-inf-tab.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='category-tab') 
                            include blocks/category-tag/category-table.jade
                        #tag-inf.tab-pane.fade(role='tabpanel', aria-labelledby='tag-list-tab') 
                            include blocks/category-tag/tag-table.jade
                            
        include blocks/modals/category-tag/cate-modal-detail.jade
        include blocks/modals/category-tag/new-cate-modal.jade
        include blocks/modals/category-tag/tag-modal-detail.jade
        include blocks/modals/category-tag/new-tag-modal.jade