block vars
    -title="Client list"
    -currPage = "Manage users"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.user-blk
                .m-prod-inner
                    .blk-ttl
                        h3 Clients list
                    .table-filter.mb-30
                        .row
                            .col-md-4.col-12
                                .tb-search
                                    input.ipt.d-block(type="text", placeholder="Enter name")
                                    button.submit-search
                                        i.fa.fa-search
                            // END: Table search
                            .col-md-8.col-12
                                .tb-general-filter
                                    .tb-filter-inner.text-right
                                        button.btn.btn-purple.mr-15 
                                            i.feather.icon-download.mr-10
                                            | Download file
                                        button.btn.btn-red Delete
                            // END: Table filter
                    .table-responsive
                        table.table.table-hover
                            tr
                                th
                                    .chkb
                                        input#prod-chk-all(type="checkbox")
                                        label.mb-0(for="prod-chk-all")
                                th
                                    p.tb-head.mb-0
                                        span Username
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Fullname
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Email
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Phone
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Create at
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Lastest login
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Status
                                        i.fa.fa-caret-down.ml-10
                                th
                            // END: Table th
                            tr
                                td
                                td
                                    input.ipt.d-block(type="text", placeholder="Username")
                                td
                                    input.ipt.d-block(type="text", placeholder="Fullname")
                                td
                                    input.ipt.d-block(type="text", placeholder="Email")
                                td
                                    input.ipt.d-block(type="text", placeholder="Phone")
                                td
                                    .date-ipt
                                        input.ipt.d-block(type="text", placeholder="Enter date")
                                        i.feather.icon-calendar
                                td
                                    .date-ipt
                                        input.ipt.d-block(type="text", placeholder="Enter date")
                                        i.feather.icon-calendar
                                td
                                    select.ipt-select.d-block
                                        option(value="") All status
                                        option(value="") Locked
                                        option(value="") Enabled
                                        option(value="") Disabled
                                td
                            tr
                                td
                                    .chkb
                                        input#client-1(type="checkbox")
                                        label.mb-0(for="client-1")
                                td
                                    p.mb-0 
                                        a(href="#", data-toggle="modal", data-target="#client-detail-modal") Username 1
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center
                                        a(href="mailto: user1@gmail.com") user1@gmail.com
                                td
                                    p.mb-0.text-center 
                                        a(href="tel: 455 125 4654") 455 125 4654
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-success Enabled
                                td
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="#", data-toggle="modal", data-target="#client-detail-modal")
                                        i.feather.icon-edit-2
                            // END: User td
                            tr
                                td
                                    .chkb
                                        input#client-2(type="checkbox")
                                        label.mb-0(for="client-2")
                                td
                                    p.mb-0 
                                        a(href="#", data-toggle="modal", data-target="#client-detail-modal") Username 2
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center
                                        a(href="mailto: user1@gmail.com") user1@gmail.com
                                td
                                    p.mb-0.text-center 
                                        a(href="tel: 455 125 4654") 455 125 4654
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-warning Locked
                                td
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="#", data-toggle="modal", data-target="#client-detail-modal")
                                        i.feather.icon-edit-2
                            // END: User td
                            tr
                                td
                                    .chkb
                                        input#cleint-3(type="checkbox")
                                        label.mb-0(for="cleint-3")
                                td
                                    p.mb-0 
                                        a(href="#", data-toggle="modal", data-target="#client-detail-modal") Username 3
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center
                                        a(href="mailto: user1@gmail.com") client1@gmail.com
                                td
                                    p.mb-0.text-center 
                                        a(href="tel: 455 125 4654") 455 125 4654
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-danger Disabled
                                td
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="#", data-toggle="modal", data-target="#client-detail-modal")
                                        i.feather.icon-edit-2
                            // END: User td
                    // END: Table
                    hr
                    .table-ft.clearfix.mt-15
                        .show-itm.float-left
                            span.mr-10 Show
                            select.ipt-select
                                option 10 items
                                option 15 items
                                option 20 items
                                option 25 items
                            .total-itm.ml-30.d-inline
                                span.mr-10 Total items: 
                                strong 20
                        .paging-tb.float-right
                            button.btn.btn-navy.mr-10.disabled Previous
                            strong.pages 1/4
                            button.btn.btn-navy.ml-10 Next
        include blocks/modals/user/client-detail-modal.jade