block vars
    -title="Home Page"
    -currPage = "Dashboard"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .dashboard-blk
                .row
                    .col-xl-3.col-md-6.col-12
                        .card.gradient-blackberry.card-statistic.mb-15
                            .card-body
                                .statistic-inf
                                    h3 1000
                                    span New users
                                .card-img
                                    img(src="images/icons/team.png", alt="")
                    .col-xl-3.col-md-6.col-12
                        .card.gradient-ibiza-sunset.card-statistic.mb-15
                            .card-body
                                .statistic-inf
                                    h3 120,300,000 VNĐ
                                    span Total sales
                                .card-img
                                    img(src="images/icons/line-graph.png", alt="")
                    .col-xl-3.col-md-6.col-12
                        .card.gradient-green-tea.card-statistic.mb-15
                            .card-body
                                .statistic-inf
                                    h3 145,300,000 VNĐ
                                    span Total earnings
                                .card-img
                                    img(src="images/icons/wallet.png", alt="")
                    .col-xl-3.col-md-6.col-12
                        .card.gradient-pomegranate.card-statistic.mb-15
                            .card-body
                                .statistic-inf
                                    h3 219
                                    span Total orders
                                .card-img
                                    img(src="images/icons/invoice.png", alt="")
                // END: Statistics card
                
                .row
                    .col-xs-12.col-12.col-lg-6
                        .blk-section.mt-15.mb-15
                            .chart-content
                                .blk-ttl
                                    h3 Revenue
                                .chart-inner
                                    #revenue-chrt.chrt-disp
                    .col-xs-12.col-12.col-lg-6
                        .blk-section.mt-15.mb-15
                            .chart-content
                                .blk-ttl
                                    h3 Best seller product
                                .chart-inner
                                    #best-sell-prod-chrt.chrt-disp
                // END: Statistics chart

                .row
                    .col-xs-12.col-lg-6.col-12
                        .blk-section.mt-15
                            .daily-log-inner
                                .blk-ttl
                                    h3 Daily activity
                                .daily-log-list
                                    .d-log-itm.mb-15
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    .d-log-itm.mb-15
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    .d-log-itm.mb-15
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    .d-log-itm.mb-15
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    .d-log-itm.mb-15
                                        p.mb-0 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                hr
                                .daily-log-ft.text-right
                                    button.btn.btn-blue View all
                    // END: Daily log