block vars
    -title="Login"
extends layouts/layout-login
block main
    .login-content
        .login-inner
            .login-frm
                .blk-ttl.text-center.mb-30
                    h3.text-capitalize Sign in to admin
                form
                    .form-group
                        //- label Username:
                        input.ipt.d-block(type="text", placeholder="Username")
                        span.err-msg.d-none This field is required
                    .form-group
                        //- label Password:
                        input.ipt.d-block(type="text", placeholder="Password")
                        span.err-msg.d-none This field is required
                    .form-group.clearfix
                        .chkb.float-left
                            input#remember-login(type="checkbox")
                            label.mb-0(for="remember-login") Remember me
                        a.d-inline-block.float-right.forgot-pass-btn(href="#") Forget password
                    hr
                    .form-group.text-center
                        button.btn.btn-navy.btn-login Sign in
        .login-bg(style="background-image: url('images/pc-bg-5.jpg');")