block vars
    -title="Add new product"
    -currPage = "Manage products"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.product-blk
                .m-prod-inner
                    .blk-ttl
                        h3 Add new product
                    .tab-custom
                        .is-enabled
                            .chkb
                                input#enabled-n-prod(type="checkbox")
                                label.mb-0(for="enabled-n-prod") Enabled
                        ul#add-new-prod.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a#n-general-tab.nav-link.active(data-toggle='tab', href='#n-general-inf-tab', role='tab', aria-controls='general-inf-tab', aria-selected='true') General Info
                            li.nav-item.disabled
                                a#n-prod-img.nav-link(data-toggle='tab', href='#n-product-img', role='tab', aria-controls='product-img', aria-selected='false') Product Images
                    #add-new-prod-ct.tab-content
                        #n-general-inf-tab.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='n-general-tab') 
                            form.form-prod
                                .row
                                    .col-md-6.col-12
                                        .form-group
                                            label Product name:
                                            input.ipt.d-block(type="text", placeholder="Product name")
                                            span.err-msg.d-none This field is required
                                    .col-md-6.col-12
                                        .form-group
                                            label Manufacture:
                                            select.ipt-select.d-block
                                                option Select manufacture
                                                option Manufacture 1
                                                option Manufacture 2
                                                option Manufacture 3
                                            span.err-msg.d-none This field is required
                                .row
                                    .col-md-6.col-12
                                        .form-group
                                            label Product price:
                                            input.ipt.d-block(type="text", placeholder="Product price")
                                            span.unit VNĐ
                                            span.err-msg.d-none This field is required
                                    .col-md-6.col-12
                                        .form-group
                                            label Quantity:
                                            input.ipt.d-block(type="text", placeholder="Quantity")
                                            span.err-msg.d-none This field is required
                                .row
                                    .col-md-6.col-12
                                        .form-group
                                            label Tags:
                                            select.ipt-select.d-block
                                                option Select tag
                                                option Mainboard
                                                option Camera
                                                option VGA
                                            .tags-list.mt-15
                                                .tag-itm.mr-10.d-inline-block
                                                    span.mr-10 Mainboard
                                                    a.del-tag(href="javascript:;")
                                                        i.feather.icon-x
                                                .tag-itm.mr-10.d-inline-block
                                                    span.mr-10 Z370
                                                    a.del-tag(href="javascript:;")
                                                        i.feather.icon-x
                                    .col-md-6.col-12
                                        .form-group
                                            label Category:
                                            select.ipt-select.d-block
                                                option Select category
                                                option Category 1
                                                option Category 2
                                                option Category 3
                                            span.err-msg.d-none This field is required
                                .row
                                    .col-md-6.col-12
                                        .form-group
                                            label Promotion:
                                            select.ipt-select.d-block
                                                option Select promotion
                                                option Promotion 1
                                                option Promotion 2
                                                option Promotion 3
                                    .col-md-6.col-12
                                        .form-group
                                            label Guarantee:
                                            input.ipt.d-block(type="text", placeholder="Guarantee")
                                            span.err-msg.d-none This field is required
                                .row
                                    .col-md-6.col-12
                                        .form-group
                                            label Branch in stock:
                                            select.ipt-select.d-block
                                                option Select branch
                                                option Branch 1
                                                option Branch 2
                                                option Branch 3
                                            span.err-msg.d-none This field is required
                                            .tags-list.mt-15
                                                .tag-itm.mr-10.d-inline-block
                                                    span.mr-10 Branch 1
                                                    a.del-tag(href="javascript:;")
                                                        i.feather.icon-x
                                                .tag-itm.mr-10.d-inline-block
                                                    span.mr-10 Branch 2
                                                    a.del-tag(href="javascript:;")
                                                        i.feather.icon-x
                                    .col-md-6.col-12
                                        .form-group
                                            label Provider:
                                            select.ipt-select.d-block
                                                option Select provider
                                                option Provider 1
                                                option Provider 2
                                                option Provider 3
                                            span.err-msg.d-none This field is required
                                .row
                                    .col-md-6.col-12
                                        .form-group
                                            label Barcode:
                                            input.ipt.d-block(type="text", placeholder="Barcode")
                                            span.err-msg.d-none This field is required
                                .row
                                    .col-md-6.col-12
                                        .form-group
                                            label Product short description:
                                            #editor-txt-1
                                    .col-md-6.col-12
                                        .form-group
                                            label Product description:
                                            #editor-txt-2
                                .text-right
                                    button.btn.btn-blue.submit-btn Create product
                        // END: General product info
                        #n-product-img.tab-pane.fade(role='tabpanel', aria-labelledby='n-prod-img') 
                            .p-img-inner.clearfix
                                .d-p-img.upload-area
                                    p Click here to upload product images