block vars
    -title="Order detail"
    -currPage = "Manage Orders - Billd"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.order-blk
                .m-order-inner
                    .blk-ttl
                        h3 Orders detail
                    hr
                    .order-frm
                        .frm-func.mb-15
                            button.btn.btn-purple.mr-15 
                                i.feather.icon-printer.mr-10
                                | Print order
                            button.btn.btn-purple.mr-15 
                                i.feather.icon-mail.mr-10
                                | Mail this order
                        hr
                        form
                            .row
                                .col-md-6.col-12
                                    .form-group
                                        label Order code:
                                        input.ipt.d-block(type="text", readonly, placeholder="Order code", value="#ORD123545434")
                                        //- span.err-msg.d-none This field is required
                                
                                .col-md-6.col-12
                                    .form-group
                                        label Customer:
                                        input.ipt.d-block(type="text", readonly placeholder="Customer", value="Customer 1")
                                        //- span.err-msg.d-none This field is required
                            .row
                                .col-md-6.col-12
                                    .form-group
                                        label Discount:
                                        input.ipt.d-block(type="text", placeholder="Discount", value="10%")
                                        span.err-msg.d-none This field is required
                                
                                .col-md-6.col-12
                                    .form-group
                                        label Phone number:
                                        input.ipt.d-block(type="text", readonly, placeholder="Phone number", value="(444) 382 123 2398")
                                        //- span.err-msg.d-none This field is required
                            .row
                                .col-md-6.col-12
                                    .form-group
                                        label Subtotal:
                                        input.ipt.d-block(type="text", placeholder="Subtotal", value="10,000,000đ")
                                        span.err-msg.d-none This field is required
                                
                                .col-md-6.col-12
                                    .form-group
                                        label Email:
                                        input.ipt.d-block(type="text", readonly, placeholder="Email", value="customer1@gmail.com")
                                        //- span.err-msg.d-none This field is required
                            .row
                                .col-md-6.col-12
                                    .form-group
                                        label Total price:
                                        input.ipt.d-block(type="text", placeholder="Total price", value="9,000,000đ")
                                        span.err-msg.d-none This field is required
                                .col-md-6.col-12
                                    .form-group
                                        label Order date:
                                        input.ipt.d-block(type="text", readonly placeholder="Order date", value="01/28/2018")
                                        //- span.err-msg.d-none This field is required
                            .row
                                .col-md-6.col-12
                                    .form-group
                                        label Address:
                                        input.ipt.d-block(type="text", placeholder="Address", value="Standard, Rare, Loading Screen, Loading Screen, Other, Tradable, Marketable")
                                        span.err-msg.d-none This field is required
                                .col-md-6.col-12
                                    .form-group
                                        label Last modified:
                                        input.ipt.d-block(type="text",  readonly, placeholder="Address", value="01/28/2018")
                                        //- span.err-msg.d-none This field is required
                            .row
                                .col-md-6.col-12
                                    .form-group
                                        label Payment method:
                                        select.ipt-select.d-block
                                            option Select payment method
                                            option Payment method 1
                                            option Payment method 2
                                            option Payment method 3
                                        span.err-msg.d-none This field is required
                                .col-md-6.col-12
                                    .form-group
                                        label Shipping method:
                                        input.ipt.d-block(type="text", placeholder="Shipping method", value="By plane")
                                        span.err-msg.d-none This field is required
                            .row
                                .col-md-6.col-12
                                    .form-group
                                        label Promotion:
                                        select.ipt-select.d-block
                                            option Select promotion
                                            option Promotion 1
                                            option Promotion 2
                                            option Promotion 3
                                .col-md-6.col-12
                                    .form-group
                                        label Status:
                                        select.ipt-select.d-block
                                            option Select status
                                            option Done
                                            option Hold
                                            option Pending
                            .form-group
                                label Order note:
                                #editor-txt-1
                            .table-responsive.ord-prod-list
                                table.table
                                    tr
                                        th
                                            p.tb-head.mb-0
                                                span Product name
                                                i.fa.fa-caret-down.ml-10
                                        th.text-center
                                            p.tb-head.mb-0
                                                span Guarantee
                                                i.fa.fa-caret-down.ml-10
                                        th.text-center
                                            p.tb-head.mb-0
                                                span Product price
                                                i.fa.fa-caret-down.ml-10
                                        th.text-center
                                            p.tb-head.mb-0
                                                span Quantity
                                                i.fa.fa-caret-down.ml-10
                                        th.text-center
                                            p.tb-head.mb-0
                                                span Total price
                                                i.fa.fa-caret-down.ml-10
                                        th
                                    tr
                                        td
                                            p.mb-0 
                                                a(href="product-detail.html") Product 1
                                        td.text-center
                                            p.mb-0 36 months
                                        td.text-center
                                            p.mb-0 5,100,000đ
                                        td.text-center
                                            p.mb-0 
                                                input.ipt.text-center(type="text", placeholder="Quantity", value="1")
                                                span.err-msg.d-none This field is required
                                        td.text-center
                                            p.mb-0 5,100,000đ
                                        td.text-center
                                            a.btn.btn-red(href="javascript:;")
                                                i.feather.icon-trash-2
                                    tr
                                        td
                                            p.mb-0 
                                                a(href="product-detail.html") Product 1
                                        td.text-center
                                            p.mb-0 36 months
                                        td.text-center
                                            p.mb-0 5,100,000đ
                                        td.text-center
                                            p.mb-0 
                                                input.ipt.text-center(type="text", placeholder="Quantity", value="1")
                                                span.err-msg.d-none This field is required
                                        td.text-center
                                            p.mb-0 5,100,000đ
                                        td.text-center
                                            a.btn.btn-red(href="javascript:;")
                                                i.feather.icon-trash-2
                                    tr
                                        td
                                            p.mb-0 
                                                a(href="product-detail.html") Product 1
                                        td.text-center
                                            p.mb-0 36 months
                                        td.text-center
                                            p.mb-0 5,100,000đ
                                        td.text-center
                                            p.mb-0 
                                                input.ipt.text-center(type="text", placeholder="Quantity", value="1")
                                                span.err-msg.d-none This field is required
                                        td.text-center
                                            p.mb-0 5,100,000đ
                                        td.text-center
                                            a.btn.btn-red(href="javascript:;")
                                                i.feather.icon-trash-2
                            .table-ft.clearfix.mt-15
                                .show-itm.float-left
                                    span.mr-10 Show
                                    select.ipt-select
                                        option 10 items
                                        option 15 items
                                        option 20 items
                                        option 25 items
                                    .total-itm.ml-30.d-inline
                                        span.mr-10 Total items: 
                                        strong 20
                                .paging-tb.float-right
                                    button.btn.btn-navy.mr-10.disabled Previous
                                    strong.pages 1/4
                                    button.btn.btn-navy.ml-10 Next
                            hr
                            .text-right
                                button.btn.btn-red.mr-15.submit-btn Cancel order
                                button.btn.btn-blue.submit-btn Save changes
        // END: Order detail