block vars
    -title="Orders list"
    -currPage = "Manage Order- Bills"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.user-blk
                .m-prod-inner
                    .blk-ttl
                        h3 Orders list
                    .table-filter.mb-30
                        .row
                            .col-md-4.col-12
                                .tb-search
                                    input.ipt.d-block(type="text", placeholder="Enter order code")
                                    button.submit-search
                                        i.fa.fa-search
                            // END: Table search
                            .col-md-8.col-12
                                .tb-general-filter
                                    .tb-filter-inner.text-right
                                        button.btn.btn-purple.mr-15 
                                            i.fa.fa-file-excel-o.mr-10
                                            | Import file
                                        button.btn.btn-purple.mr-15 
                                            i.feather.icon-printer.mr-10
                                            | Print file
                                        button.btn.btn-purple.mr-15 
                                            i.feather.icon-mail.mr-10
                                            | Email file
                                        button.btn.btn-purple.mr-15 
                                            i.feather.icon-download.mr-10
                                            | Download file
                                        button.filt-btn.btn.btn-blue.mr-15
                                            | Filter data
                                            i.fa.fa-caret-down
                                        button.btn.btn-red Cacel orders
                                    .tb-filter-expand
                                        .row
                                            .col-md-4.col-12.filt-col.mb-15
                                                .filt-col-inner
                                                    label Last modified:
                                                    input.ipt.d-block(type="text", placeholder="Last modified")
                                            // END: Filter col
                                            .col-md-4.col-12.filt-col.mb-15
                                                .filt-col-inner
                                                    label Order date:
                                                    input.ipt.d-block(type="text", placeholder="Order date")
                                            // END: Filter col
                                            .col-md-4.col-12.filt-col.mb-15
                                                .filt-col-inner
                                                    label Order status:
                                                    select.ipt-select.d-block
                                                        option(value="") All status
                                                        option(value="") Pending
                                                        option(value="") Done
                                                        option(value="") Cancel
                                            // END: Filter col
                                            .col-md-4.col-12.filt-col.mb-15
                                                .filt-col-inner
                                                    label Payment:
                                                    select.ipt-select.d-block
                                                        option(value="") All payment
                                                        option(value="") Cash
                                                        option(value="") COD
                                                        option(value="") Internet banking
                                            // END: Filter col
                                            .col-md-4.col-12.filt-col.mb-15
                                                .filt-col-inner
                                                    label Subtotal:
                                                    select.ipt-select.d-block
                                                        option(value="") All price
                                                        option(value="") Under 1,000,000
                                                        option(value="") From 1,000,000 to 5,000,000
                                                        option(value="") Above 5,000,000
                                            // END: Filter col
                                        .filt-ft
                                            button.btn.btn-blue Apply filter
                            // END: Table filter
                    .table-responsive
                        table.table.table-hover
                            tr
                                th
                                    .chkb
                                        input#order-chk-all(type="checkbox")
                                        label.mb-0(for="order-chk-all")
                                th
                                    p.tb-head.mb-0
                                        span Order code
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Customer
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Order date
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Last modified
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Payment
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Subtotal
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Shipping method
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Status
                                        i.fa.fa-caret-down.ml-10
                                th
                            // END: Table th
                            tr
                                td
                                    .chkb
                                        input#order-1(type="checkbox")
                                        label.mb-0(for="order-1")
                                td
                                    p.mb-0 
                                        a(href="order-detail.html") #ORD123541223
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center Cash
                                td
                                    p.mb-0.text-center 10,022,000đ
                                td
                                    p.mb-0.text-center N/A
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-info Pending
                                td.text-center
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="order-detail.html")
                                        i.feather.icon-edit-2
                            // END: Order td
                            tr
                                td
                                    .chkb
                                        input#order-3(type="checkbox")
                                        label.mb-0(for="order-3")
                                td
                                    p.mb-0 
                                        a(href="order-detail.html") #ORD123541223
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center Cash
                                td
                                    p.mb-0.text-center 10,022,000đ
                                td
                                    p.mb-0.text-center N/A
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-success Done
                                td.text-center
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="order-detail.html")
                                        i.feather.icon-edit-2
                            // END: Order td
                            tr
                                td
                                    .chkb
                                        input#order-4(type="checkbox")
                                        label.mb-0(for="order-4")
                                td
                                    p.mb-0 
                                        a(href="order-detail.html") #ORD123541223
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center Cash
                                td
                                    p.mb-0.text-center 10,022,000đ
                                td
                                    p.mb-0.text-center N/A
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-secondary Hold
                                td.text-center
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="order-detail.html")
                                        i.feather.icon-edit-2
                            // END: Order td
                            tr
                                td
                                    .chkb
                                        input#order-5(type="checkbox")
                                        label.mb-0(for="order-5")
                                td
                                    p.mb-0 
                                        a(href="order-detail.html") #ORD123541223
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center Cash
                                td
                                    p.mb-0.text-center 10,022,000đ
                                td
                                    p.mb-0.text-center N/A
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-danger Cancel
                                td.text-center
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="order-detail.html")
                                        i.feather.icon-edit-2
                            // END: Order td
                            tr
                                td
                                    .chkb
                                        input#order-6(type="checkbox")
                                        label.mb-0(for="order-6")
                                td
                                    p.mb-0 
                                        a(href="order-detail.html") #ORD123541223
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center Cash
                                td
                                    p.mb-0.text-center 10,022,000đ
                                td
                                    p.mb-0.text-center N/A
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-info Pending
                                td.text-center
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="order-detail.html")
                                        i.feather.icon-edit-2
                            // END: Order td
                            tr
                                td
                                    .chkb
                                        input#order-7(type="checkbox")
                                        label.mb-0(for="order-7")
                                td
                                    p.mb-0 
                                        a(href="order-detail.html") #ORD123541223
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center Cash
                                td
                                    p.mb-0.text-center 10,022,000đ
                                td
                                    p.mb-0.text-center N/A
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-info Pending
                                td.text-center
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="order-detail.html")
                                        i.feather.icon-edit-2
                            // END: Order td
                            tr
                                td
                                    .chkb
                                        input#order-2(type="checkbox")
                                        label.mb-0(for="order-2")
                                td
                                    p.mb-0 
                                        a(href="order-detail.html") #ORD123541223
                                td
                                    p.mb-0.text-center John Doe 
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center Cash
                                td
                                    p.mb-0.text-center 10,022,000đ
                                td
                                    p.mb-0.text-center N/A
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-info Pending
                                td.text-center
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="order-detail.html")
                                        i.feather.icon-edit-2
                            // END: Order td
                    // END: Table
                    .table-ft.clearfix.mt-15
                        .show-itm.float-left
                            span.mr-10 Show
                            select.ipt-select
                                option 10 items
                                option 15 items
                                option 20 items
                                option 25 items
                            .total-itm.ml-30.d-inline
                                span.mr-10 Total items: 
                                strong 20
                        .paging-tb.float-right
                            button.btn.btn-navy.mr-10.disabled Previous
                            strong.pages 1/4
                            button.btn.btn-navy.ml-10 Next