block vars
    -title="Product detail"
    -currPage = "Manage products"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.product-blk
                .m-prod-inner
                    .blk-ttl
                        h3 Product detail
                    .tab-custom
                        .is-enabled
                            .chkb
                                input#enabled-prod(type="checkbox", checked)
                                label.mb-0(for="enabled-prod") Enabled
                        ul#prod-detail.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a#general-tab.nav-link.active(data-toggle='tab', href='#general-inf-tab', role='tab', aria-controls='general-inf-tab', aria-selected='true') General Info
                            li.nav-item
                                a#prod-statistic.nav-link(data-toggle='tab', href='#product-statistic-tab', role='tab', aria-controls='product-statistic-tab', aria-selected='false') Product Statistic
                            li.nav-item
                                a#prod-img.nav-link(data-toggle='tab', href='#product-img', role='tab', aria-controls='product-img', aria-selected='false') Product Images
                    #prod-detail-ct.tab-content
                        #general-inf-tab.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='general-tab') 
                            include blocks/product/general-info-tab.jade
                        // END: General product info
                        #product-statistic-tab.tab-pane.fade(role='tabpanel', aria-labelledby='prod-statistic') 
                            include blocks/product/statistic-tab.jade
                        // END: Product statistic tab
                        #product-img.tab-pane.fade(role='tabpanel', aria-labelledby='prod-img') 
                            include blocks/product/product-image-tab.jade
                        // END: Product image tab