block vars
    -title="Product list"
    -currPage = "Manage products"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.product-blk
                .m-prod-inner
                    .blk-ttl
                        h3 Product list
                    .table-filter.mb-30
                        .row
                            .col-md-4.col-12
                                .tb-search
                                    input.ipt.d-block(type="text", placeholder="Enter product name")
                                    button.submit-search
                                        i.fa.fa-search
                            // END: Table search
                            .col-md-8.col-12
                                .tb-general-filter
                                    .tb-filter-inner.text-right
                                        button.btn.btn-green.mr-15 
                                            i.fa.fa-file-excel-o.mr-10
                                            | Import file
                                        button.btn.btn-purple.mr-15 
                                            i.feather.icon-download.mr-10
                                            | Download file
                                        button.btn.btn-red.mr-15 Delete
                                        button.filt-btn.btn.btn-blue.mr-15
                                            | Filter data
                                            i.fa.fa-caret-down
                                        a.btn.btn-blue(href="new-product.html") Create new product
                                    .tb-filter-expand
                                        .row
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Product name:
                                                    input.ipt.d-block(type="text", placeholder="Enter product name")
                                            // END: Filter col
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Product price:
                                                    input.ipt.d-block(type="text", placeholder="Enter product price")
                                            // END: Filter col
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Product quantity:
                                                    input.ipt.d-block(type="text", placeholder="Enter product quantity")
                                            // END: Filter col
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Product status:
                                                    select.ipt-select.d-block
                                                        option(value="") All status
                                                        option(value="") Enabled
                                                        option(value="") Disabled
                                            // END: Filter col
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Category:
                                                    select.ipt-select.d-block
                                                        option(value="") All category
                                                        option(value="") Category 1
                                                        option(value="") Category 2
                                                        option(value="") Category 3
                                            // END: Filter col
                                        .filt-ft
                                            button.btn.btn-blue Apply filter
                            // END: Table filter
                    .table-responsive
                        table.table.table-hover
                            tr
                                th
                                    .chkb
                                        input#prod-chk-all(type="checkbox")
                                        label.mb-0(for="prod-chk-all")
                                th
                                    p.tb-head.mb-0
                                        span Product name
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Product code
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Price
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Category
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Create at
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Quantity
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Status
                                        i.fa.fa-caret-down.ml-10
                                th
                            // END: Table th
                            tr
                                td
                                td
                                    input.ipt.d-block(type="text", placeholder="Enter product name")
                                td
                                    input.ipt.d-block(type="text", placeholder="Enter product code")
                                td
                                    input.ipt.d-block(type="text", placeholder="Enter product price")
                                td
                                    select.ipt-select.d-block
                                        option(value="") All category
                                        option(value="") Category 1
                                        option(value="") Category 2
                                        option(value="") Category 3
                                td
                                    .date-ipt
                                        input.ipt.d-block(type="text", placeholder="Enter date")
                                        i.feather.icon-calendar
                                td
                                td
                                    select.ipt-select.d-block
                                        option(value="") All status
                                        option(value="") Enabled
                                        option(value="") Disabled
                                td
                            tr
                                td
                                    .chkb
                                        input#prod-1(type="checkbox")
                                        label.mb-0(for="prod-1")
                                td
                                    p.mb-0 
                                        a(href="product-detail.html") ASUS Z370 ROG Maximus X Formula Socket 1151v2
                                td
                                    p.mb-0.text-center MB1232424 
                                td
                                    p.mb-0.text-center 7,640,000đ
                                td
                                    p.mb-0.text-center Mainboard
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 12
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-success Enabled
                                td
                                    a.btn.btn-red.mr-15(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="javascript:;")
                                        i.feather.icon-edit-2
                            // END: Product td
                            tr
                                td
                                    .chkb
                                        input#prod-2(type="checkbox")
                                        label.mb-0(for="prod-2")
                                td
                                    p.mb-0
                                        a(href="product-detail.html") ASUS Z370 ROG Maximus X Formula Socket 1151v2 
                                td
                                    p.mb-0.text-center MB1232424 
                                td
                                    p.mb-0.text-center 7,640,000đ
                                td
                                    p.mb-0.text-center Mainboard
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 12
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-success Enabled
                                td
                                    a.btn.btn-red.mr-15(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="javascript:;")
                                        i.feather.icon-edit-2
                            // END: Product td
                            tr
                                td
                                    .chkb
                                        input#prod-3(type="checkbox")
                                        label.mb-0(for="prod-3")
                                td
                                    p.mb-0 
                                        a(href="product-detail.html") ASUS Z370 ROG Maximus X Formula Socket 1151v2
                                td
                                    p.mb-0.text-center MB1232424 
                                td
                                    p.mb-0.text-center 7,640,000đ
                                td
                                    p.mb-0.text-center Mainboard
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 12
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-danger Disabled
                                td
                                    a.btn.btn-red.mr-15(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="javascript:;")
                                        i.feather.icon-edit-2
                            // END: Product td
                            tr
                                td
                                    .chkb
                                        input#prod-4(type="checkbox")
                                        label.mb-0(for="prod-4")
                                td
                                    p.mb-0 
                                        a(href="product-detail.html") ASUS Z370 ROG Maximus X Formula Socket 1151v2
                                td
                                    p.mb-0.text-center MB1232424 
                                td
                                    p.mb-0.text-center 7,640,000đ
                                td
                                    p.mb-0.text-center Mainboard
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 12
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-success Enabled
                                td
                                    a.btn.btn-red.mr-15(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="javascript:;")
                                        i.feather.icon-edit-2
                            // END: Product td
                            tr
                                td
                                    .chkb
                                        input#prod-5(type="checkbox")
                                        label.mb-0(for="prod-5")
                                td
                                    p.mb-0 
                                        a(href="product-detail.html") ASUS Z370 ROG Maximus X Formula Socket 1151v2
                                td
                                    p.mb-0.text-center MB1232424 
                                td
                                    p.mb-0.text-center 7,640,000đ
                                td
                                    p.mb-0.text-center Mainboard
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center 12
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-success Enabled
                                td
                                    a.btn.btn-red.mr-15(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="javascript:;")
                                        i.feather.icon-edit-2
                            // END: Product td
                    // END: Table
                    .table-ft.clearfix.mt-15
                        .show-itm.float-left
                            span.mr-10 Show
                            select.ipt-select
                                option 10 items
                                option 15 items
                                option 20 items
                                option 25 items
                            .total-itm.ml-30.d-inline
                                span.mr-10 Total items: 
                                strong 20
                        .paging-tb.float-right
                            button.btn.btn-navy.mr-10.disabled Previous
                            strong.pages 1/4
                            button.btn.btn-navy.ml-10 Next
