block vars
    -title="Role list"
    -currPage = "Manage users"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.user-blk
                .m-prod-inner
                    .blk-ttl
                        h3 Roles list
                    .table-filter.mb-30
                        .row
                            .col-md-4.col-12
                                .tb-search
                                    input.ipt.d-block(type="text", placeholder="Enter name")
                                    button.submit-search
                                        i.fa.fa-search
                            // END: Table search
                            .col-md-8.col-12
                                .tb-general-filter
                                    .tb-filter-inner.text-right
                                        button.btn.btn-red.mr-15 Delete
                                        button.btn.btn-blue(data-toggle="modal", data-target="#new-role-modal")
                                            | Create new role
                            // END: Table filter
                    .table-responsive
                        table.table.table-hover
                            tr
                                th
                                    .chkb
                                        input#role-chk-all(type="checkbox")
                                        label.mb-0(for="role-chk-all") 1
                                th
                                    p.tb-head.mb-0
                                        span Role name
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Description
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Create at
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Status
                                        i.fa.fa-caret-down.ml-10
                                th
                            // END: Table th
                            tr
                                td
                                td
                                    input.ipt.d-block(type="text", placeholder="Role name")
                                td
                                    input.ipt.d-block(type="text", placeholder="Role description")
                                td
                                    .date-ipt
                                        input.ipt.d-block(type="text", placeholder="Enter date")
                                        i.feather.icon-calendar
                                td
                                    select.ipt-select.d-block
                                        option(value="") All status
                                        option(value="") Enabled
                                        option(value="") Disabled
                                td
                            tr
                                td
                                    .chkb
                                        input#role-1(type="checkbox")
                                        label.mb-0(for="role-1") 1
                                td
                                    p.mb-0 
                                        a(href="#", data-toggle="modal", data-target="#role-detail-modal") Role 1
                                td
                                    p.mb-0.text-center.tb-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-success Enabled
                                td.text-center
                                    a.btn.btn-red.mr-10(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="#", data-toggle="modal", data-target="#role-detail-modal")
                                        i.feather.icon-edit-2
                            // END: User td
                    // END: Table
                    .table-ft.clearfix.mt-15
                        .show-itm.float-left
                            span.mr-10 Show
                            select.ipt-select
                                option 10 items
                                option 15 items
                                option 20 items
                                option 25 items
                            .total-itm.ml-30.d-inline
                                span.mr-10 Total items: 
                                strong 20
                        .paging-tb.float-right
                            button.btn.btn-navy.mr-10.disabled Previous
                            strong.pages 1/4
                            button.btn.btn-navy.ml-10 Next
        include blocks/modals/role/role-detail-modal.jade
        include blocks/modals/role/new-role-modal.jade