block vars
    -title="Warehouse list"
    -currPage = "Manage warehouse"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.warehouse-blk
                .m-warehouse-inner
                    .blk-ttl
                        h3 Warehouse list
                    .table-filter.mb-30
                        .row
                            .col-md-4.col-12
                                .tb-search
                                    input.ipt.d-block(type="text", placeholder="Enter warehouse name")
                                    button.submit-search
                                        i.fa.fa-search
                            // END: Table search
                            .col-md-8.col-12
                                .tb-general-filter
                                    .tb-filter-inner.text-right
                                        button.btn.btn-purple.mr-15 
                                            i.fa.fa-file-excel-o.mr-10
                                            | Import file
                                        button.btn.btn-purple.mr-15 
                                            i.feather.icon-printer.mr-10
                                            | Print file
                                        button.btn.btn-purple.mr-15 
                                            i.feather.icon-mail.mr-10
                                            | Email file
                                        button.btn.btn-purple.mr-15 
                                            i.feather.icon-download.mr-10
                                            | Download file
                                        button.filt-btn.btn.btn-blue.mr-15
                                            | Filter data
                                            i.fa.fa-caret-down
                                        a.btn.btn-blue.mr-15(href="#") Create new warehouse
                                        button.btn.btn-red Delete
                                    .tb-filter-expand
                                        .row
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Warehouse name:
                                                    input.ipt.d-block(type="text", placeholder="Enter warehouse name")
                                            // END: Filter col
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Warehouse address:
                                                    input.ipt.d-block(type="text", placeholder="Enter warehouse address")
                                            // END: Filter col
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Create date:
                                                    input.ipt.d-block(type="text", placeholder="Enter Create date")
                                            // END: Filter col
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Warehouse status:
                                                    select.ipt-select.d-block
                                                        option(value="") All status
                                                        option(value="") Enabled
                                                        option(value="") Disabled
                                            // END: Filter col
                                            .col-md-4.col-6.filt-col.mb-15
                                                .filt-col-inner
                                                    label Warehouse location:
                                                    select.ipt-select.d-block
                                                        option(value="") All location
                                                        option(value="") Location 1
                                                        option(value="") Location 2
                                            // END: Filter col
                                        .filt-ft
                                            button.btn.btn-blue Apply filter
                            // END: Table filter
                    .table-responsive
                        table.table.table-hover
                            tr
                                th
                                    .chkb
                                        input#warehouse-chk-all(type="checkbox")
                                        label.mb-0(for="warehouse-chk-all")
                                th
                                    p.tb-head.mb-0
                                        span Warehouse name
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Address
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Location
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Create at
                                        i.fa.fa-caret-down.ml-10
                                th
                                    p.tb-head.mb-0.text-center
                                        span Status
                                        i.fa.fa-caret-down.ml-10
                                th
                            // END: Table th
                            tr
                                td
                                    .chkb
                                        input#warehousr-2(type="checkbox")
                                        label.mb-0(for="warehousr-2")
                                td
                                    p.mb-0
                                        a(href="warehouse-detail.html") Asus warehouse
                                td
                                    p.mb-0.text-center Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                td
                                    p.mb-0.text-center Lorem Ipsum is simply dummy. 
                                td
                                    p.mb-0.text-center 01/27/2018
                                td
                                    p.mb-0.text-center
                                        span.badge.badge-success Enabled
                                td.text-center
                                    a.btn.btn-red.mr-15(href="javascript:;")
                                        i.feather.icon-trash-2
                                    a.btn.btn-blue(href="warehouse-detail.html")
                                        i.feather.icon-edit-2
                            // END: Warehouse td
                    // END: Table
                    .table-ft.clearfix.mt-15
                        .show-itm.float-left
                            span.mr-10 Show
                            select.ipt-select
                                option 10 items
                                option 15 items
                                option 20 items
                                option 25 items
                            .total-itm.ml-30.d-inline
                                span.mr-10 Total items: 
                                strong 20
                        .paging-tb.float-right
                            button.btn.btn-navy.mr-10.disabled Previous
                            strong.pages 1/4
                            button.btn.btn-navy.ml-10 Next
                    // END: Warehouse table