block vars
    -title="Warehouse detail"
    -currPage = "Manage warehouse"
extends layouts/layout
block main
    .main-content
        .container-fluid
            .blk-section.warehouse-blk
                .m-warehouse-inner
                    .blk-ttl
                        h3 Warehouse detail
                    .tab-custom
                        .is-enabled
                            .chkb
                                input#enabled-warehouse(type="checkbox", checked)
                                label.mb-0(for="enabled-warehouse") Enabled
                        ul#warehouse-detail.nav.nav-tabs(role='tablist')
                            li.nav-item
                                a#ware-general-tab.nav-link.active(data-toggle='tab', href='#ware-general-inf-tab', role='tab', aria-controls='ware-general-inf-tab', aria-selected='true') General Info
                            li.nav-item
                                a#warehouse-prod.nav-link(data-toggle='tab', href='#warehouse-prod-tab', role='tab', aria-controls='warehouse-prod-tab', aria-selected='true') Products List
                            li.nav-item
                                a#warehouse-schedule.nav-link(data-toggle='tab', href='#warehouse-schedule-tab', role='tab', aria-controls='warehouse-schedule-tab', aria-selected='true') Products Schedule
                    #ware-detail-ct.tab-content
                        #ware-general-inf-tab.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='ware-general-tab') 
                            include blocks/warehouse/general-info-tab.jade
                        // END: Warehouse general info
                        #warehouse-prod-tab.tab-pane.fade(role='tabpanel', aria-labelledby='ware-general-tab') 
                            include blocks/warehouse/product-list-tab.jade
                        // END: Warehouse products list
                        #warehouse-schedule-tab.tab-pane.fade(role='tabpanel', aria-labelledby='ware-schedule-tab') 
                            include blocks/warehouse/warehouse-schedule.jade
                        // END: Warehouse schedule list