/*
 * 
 * Warehouse css
 * 1. Fullcalendar
 *
*/ 

// 1. Fullcalendar
.fc {
    button {
        padding: 8px 15px;
        height: auto;
    }
}

.fc-button{
    outline: none;
    border: none;
    color: #fff;
    &.fc-state-default {
        box-shadow: none;
        text-shadow: none;
        background-image: none;
        background-color: rgba(0, 99, 209, .8);
        .transition(all .4s ease);
        &.fc-corner-right {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        &.fc-corner-left {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }
        &:hover {
            background-color: rgba(0, 99, 209, 1);
        }
    }
    &.fc-state-active {
        background-color: darken(@blue, 10%);
        &:hover {
            background-color: darken(@blue, 10%);
        }
    }
    &:focus {
        outline: none !important;
    }
}
  
.fc button, .fc table, body .fc {
    font-size: 14px;
}

.fc td, .fc th {
    vertical-align: middle;
}

.fc-agendaDay-view, .fc-agendaWeek-view, .fc-month-view {
    .fc-day-header {
        padding: 8px 0;
    }
}

.fc-time-grid {
    .fc-slats {
        td{
            height: 2.5em;
        }
    }
    .fc-time {
        width: 50px !important;
        text-align: center;
    }
}

.fc-bg {
    .fc-axis {
        width: 50px !important;
        text-align: center;
    }
}

.fc-widget-header {
    .fc-axis {
        width: 50px !important;
        text-align: center;
    }
}

.fc-event{
    border-left-width: 5px;
    padding: 5px;
    border-radius: 0px;
    color: #fff !important;
    background-color: rgba(111, 66, 193, .7);
    border-color: @purple;
    .fc-content{
      height: 100%;
    }
}
.fc-event-dot {
    background-color: rgba(111, 66, 193, .7);
}