/*
    Custom css
    -----------------------------------
    1. Input
    2. Button
    3. Checkbox
    4. Radio button
    5. Tab
    6. Block and block title
    7. Card
    8. Margin and padding
    9. Table data
    10. Badge - label  
    11. Tab
    12. Editor
    13. Error message
    14. Tags list
    15. Modal
*/

// 1. Input
.ipt {
    display: inline-block;
    border: 1px solid @grey_light;
    border-radius: 2px;
    padding: 8px 15px;
    .transition(all .4s ease);
    &:focus {
        border-color: @navy;
    }
    &.err {
        border-color: @red;
        &:focus {
            border-color: @red;
        }
    }
    &.d-block {
        width: 100%;
    }
    &[readonly]{
        cursor: default;
        background-color: #eee;
        &:focus {
            border-color: @grey_light;
        }
    }
}

.ipt-area {
    height: 100px;
}

.ipt-select {
    display: inline-block;
    border: 1px solid @grey_light;
    border-radius: 2px;
    padding: 8px 5px;
    &:focus {
        border-color: @navy;
    }
    &.err {
        border-color: @red;
        &:focus {
            border-color: @red;
        }
    }
    &.d-block {
        width: 100%;
    }
}

.date-ipt {
    position: relative;
    .icon-calendar {
        position: absolute;
        display: block;
        width: 36px;
        height: 37px;
        background-color: #f5f5f5;
        text-align: center;
        line-height: 34px;
        top: 1px;
        right: 1px;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
    }
}

.form-group {
    position: relative;
    >label {
        font-size: 14px;
        font-weight: 600;
    }
    .unit {
        position: absolute;
        right: 10px;
        top: 38px;
        font-weight: 600;
        color: @blue;
    }
}

// 2. Button
.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    background-color: @grey_light;
    cursor: pointer;
    &:hover {
        color: #fff;
        background-color: darken(@grey_light, 5%);
    }
    &:focus {
        box-shadow: none;
    }
    &.d-block {
        width: 100%;
    }
    &.btn-blue {
        background-color: @blue;
        &:hover {
            color: #fff;
            background-color: darken(@blue, 5%);
        }
    }
    &.btn-red {
        background-color: @red;
        &:hover {
            color: #fff;
            background-color: darken(@red, 5%);
        }
    }
    &.btn-green {
        background-color: @green;
        &:hover {
            color: #fff;
            background-color: darken(@green, 5%);
        }
    }
    &.btn-yellow {
        background-color: @yellow;
        &:hover {
            color: #fff;
            background-color: darken(@yellow, 5%);
        }
    }
    &.btn-navy {
        background-color: @navy;
        &:hover {
            color: #fff;
            background-color: darken(@navy, 5%);
        }
    }
    &.btn-purple {
        background-color: @purple;
        &:hover {
            color: #fff;
            background-color: darken(@purple, 5%);
        }
    }
}

// 3. Checkbox
.chkb {
    position: relative;
    position: relative;
    input[type="checkbox"] {
        display: none;
    }

    label {
        display: inline-block;
        padding-left: 30px;
        font-size: 14px;
        cursor: pointer;
        font-weight: 600;
        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border: 2px solid #b3b2b2;
            border-radius: 3px;
            position: absolute;
            left: 0;
        }
        &:after {
            content: '\e83f';
            font-family: 'feather' !important;
            display: none;
            color: #fff;
            text-align: center;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    input[type="checkbox"]:checked + label {
        &:before {
            border-color: @purple;
            background-color: @purple;
        }
        &:after {
            display: block;
        }
    }
}

// 4. Radio button
.rdo {
    margin-bottom: 10px;
    position: relative;
    input[type="radio"] {
        display: none;
    }
    label {
        font-size: 14px;
        cursor: pointer;
        padding-left: 30px;
        font-weight: 600;
        &:before {
            content: '';
            width: 20px;
            height: 20px;
            border: 2px solid #b3b2b2;
            display: block;
            border-radius: 100%;
            position: absolute;
            left: 0;
        }
        &:after {
            content: '';
            display: none;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: @purple;
            .transform(scale(.5));
            border-radius: 100%;
        }
    }
    input[type="radio"]:checked + label {
        &:after {
            display: block;
        }
        &:before {
            border-color: @purple;
        }
    }
}

// 6. Block and block title
.blk-section {
    margin: 30px 0;
    background-color: #fff;
    padding: 15px;
}

.blk-ttl {
    h3 {
        font-weight: 500;
        letter-spacing: 0.5px;
        font-size: 1.6rem;
        margin: 15px 0;
    }
}

// 7. Card
[class*='gradient-'] {
    background-repeat: repeat !important;
}
.card {
    border: none;
    border-radius: 2px;
}

.gradient-pomegranate {
    background-image: -webkit-linear-gradient(45deg, #9B3CB7, #FF396F);
    background-image: -moz-linear-gradient(45deg, #9B3CB7, #FF396F);
    background-image: -o-linear-gradient(45deg, #9B3CB7, #FF396F);
    background-image: linear-gradient(45deg, #9B3CB7, #FF396F);
    background-repeat: repeat-x;
}

.gradient-green-tea {
    background-image: -webkit-linear-gradient(45deg, #004B91, #78CC37);
    background-image: -moz-linear-gradient(45deg, #004B91, #78CC37);
    background-image: -o-linear-gradient(45deg, #004B91, #78CC37);
    background-image: linear-gradient(45deg, #004B91, #78CC37);
    background-repeat: repeat-x;
}

.gradient-ibiza-sunset {
    background-image: -webkit-linear-gradient(45deg, #EE0979, #FF6A00);
    background-image: -moz-linear-gradient(45deg, #EE0979, #FF6A00);
    background-image: -o-linear-gradient(45deg, #EE0979, #FF6A00);
    background-image: linear-gradient(45deg, #EE0979, #FF6A00);
    background-repeat: repeat-x;
}

.gradient-blackberry {
    background-image: -webkit-linear-gradient(45deg, #843CF7, #38B8F2);
    background-image: -moz-linear-gradient(45deg, #843CF7, #38B8F2);
    background-image: -o-linear-gradient(45deg, #843CF7, #38B8F2);
    background-image: linear-gradient(45deg, #843CF7, #38B8F2);
    background-repeat: repeat-x;
}

// 8. Margin and padding
.mt-30 {
    margin-top: 30px;
}
.mt-50 {
    margin-top: 50px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-0 {
    margin-top: 0px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-0 {
    margin-bottom: 0px;
}
.ml-30 {
    margin-left: 30px;
}
.ml-50 {
    margin-left: 50px;
}
.ml-15 {
    margin-left: 15px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-0 {
    margin-left: 0px;
}
.mr-30 {
    margin-right: 30px;
}
.mr-50 {
    margin-right: 50px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-0 {
    margin-right: 0px;
}

.pd-t-0 {
    padding-top: 0;
}
.pd-t-15 {
    padding-top: 15px;
}
.pd-t-30 {
    padding-top: 30px;
}
.pd-b-0 {
    padding-bottom: 0;
}
.pd-b-15 {
    padding-bottom: 15px;
}
.pd-b-30 {
    padding-bottom: 30px;
}
.pd-l-0 {
    padding-left: 0;
}
.pd-l-15 {
    padding-left: 15px;
}
.pd-l-30 {
    padding-left: 30px;
}
.pd-r-0 {
    padding-right: 0;
}
.pd-r-15 {
    padding-right: 15px;
}
.pd-r-30 {
    padding-right: 30px;
}

// 9. Table data
.table{
    font-size: 14px;
    th, td {
        vertical-align: middle;
    }
    .chkb {
        label {
            height: 20px;
            color: transparent;
        }
    }
    .tb-head {
        cursor: pointer;
        font-size: 14px;
    }
}
.tb-search {
    position: relative;
    .submit-search {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        height: 36px;
        width: 36px;
        cursor: pointer;
        outline: none;
        border: none;
        background-color: transparent;
    }
    .ipt {
        padding-right: 40px;
    }
}

.tb-general-filter {
    position: relative;
    .btn {
        font-weight: 600;
        padding: 9px .75rem;
    }
    .filt-btn {
        &.expand {
            i {
                &:before {
                    content: '\f0d8';
                }
            }
        }
        i {
            margin-left: 10px;
        }
    }
}

.tb-filter-expand {
    position: absolute;
    width: 100%;
    right: 0;
    top: 50px;
    border-radius: 2px;
    background-color: #e9ecef;
    padding: 15px;
    .opacity(0);
    visibility: hidden;
    z-index: -1;
    .transition(all .4s ease);
    &.shw {
        .opacity(1);
        visibility: visible;
        z-index: 100;
    }
    .filt-col-inner {
        label {
            font-weight: 600;
        }
    }
}

.paging-tb {
    .btn {
        &.disabled {
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}

.table-ft {
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 15px;
}
// 10. Badge - label
.badge {
    font-size: 10px;
    font-weight: 600;
    padding: 5px;
    cursor: default;
}

// 11. Tab
.tab-custom {
    position: relative;
}
.tab-content {
    padding: 15px;
}

.nav-tabs {
    .nav-item{
        margin-bottom: 0;
        .nav-link {
            border: none;
            border-radius: 0;
            font-size: 14px;
            font-weight: 600;
            position: relative;
            color: rgb(124, 124, 124);
            &:before {
                content: '';
                display: block;
                width: 0;
                height: 1px;
                position: absolute;
                background-color: @purple;
                bottom: -1px;
                left: 50%;
                .transform(translateX(-50%));
                .transition(all .3s ease);
            }
            &.active {
                color: @purple;
                &:before {
                    width: 100%;
                }
            }
        }
        &.disabled {
            .nav-link {
                cursor: default;
                pointer-events: none;
                color: rgb(192, 192, 192);
            }
        }
    }
}

// 12. Editor
.ql-editor {
    height: 200px;
}
.ql-toolbar {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.ql-container {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

// 13. Error message
.err-msg {
    color: @red;
    font-weight: 600;
    display: inline-block;
}
.warn-msg {
    color: @yellow;
    font-weight: 600;
    display: inline-block;
}
.success-msg {
    color: @green;
    font-weight: 600;
    display: inline-block;
}

// 14. Tags list
.tag-itm {
    background-color: @purple;
    color: #fff;
    padding: 5px 8px;
    border-radius: 2px;
    a {
        color: #fff;
    }
}

// 15. Modal
.close {
    outline: none;
}