// Header css

.body-wrap {
    position: relative;
    top: 0;
    height: 100vh;
}
// Sidebar
.top-header {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 250px;
    height: 100vh;
    white-space: nowrap;
    visibility: visible;
    .transition(all .4s ease);
    box-shadow: 2px 10px 30px 0 rgba(0, 0, 0, 0.42), 0 4px 25px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(45deg, #780206, #061161);
    background-repeat: repeat-x;
    &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 2;
    }
    &:before {
        opacity: 0.33;
    }
    &:after {
        opacity: 0.77;
        z-index: 3;
    }
}

.header-logo {
    height: 90px;
}
.main-menu {
    position: relative;
    height: ~"calc(100vh - 90px)";
    z-index: 4;
}

.sidebar-bg {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    &:after {
        // background: #FF8D60;
        background-image: linear-gradient(45deg, #780206, #061161);
        background-repeat: repeat-x;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: 0.83;
    }
}

// Main menu
.menu-list {
    >li {
        margin: 5px 0;
    }
}

.m-itm {
    display: block;
    position: relative;
    color: #fff;
    font-size: 16px;
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    .transition(all .4s ease);
    .feather {
        position: absolute;
        right: 15px;
        top: 50%;
        .transform(translateY(-50%));
    }
    &:hover {
        color: #fff;
        background-color: rgba(200, 200, 200, 0.2);
    }
    &.active {
        background-color: rgba(200, 200, 200, 0.2);
    }
    .m-ico {
        background-repeat: no-repeat;
        display: inline-block;
        width: 25px;
        height: 25px;
        background-size: 25px;
        margin-right: 15px;
        &.m-home {
            background-image: url('../images/icons/home.png');
        }
        &.m-user {
            background-image: url('../images/icons/user-manage.png');
        }
        &.m-product {
            background-image: url('../images/icons/product.png');
        }
        &.m-order {
            background-image: url('../images/icons/orders.png');
        }
        &.m-pages {
            background-image: url('../images/icons/pages.png');
        }
        &.m-tasks {
            background-image: url('../images/icons/task.png');
        }
        &.m-inventory {
            background-image: url('../images/icons/warehouse.png');
        }
        &.m-financial {
            background-image: url('../images/icons/financial.png');
        }
        &.m-events {
            background-image: url('../images/icons/event.png');
        }
        &.m-project {
            background-image: url('../images/icons/project.png');
        }
        &.m-department {
            background-image: url('../images/icons/department.png');
        }
        &.m-log {
            background-image: url('../images/icons/log.png');
        }
        &.m-setting {
            background-image: url('../images/icons/setting.png');
        }
        &.m-provider {
            background-image: url('../images/icons/provider.png');
        }
        &.m-tag {
            background-image: url('../images/icons/tag.png');
        }
        &.m-store {
            background-image: url('../images/icons/building.png');
        }
    }
}

.sub-menu {
    padding: 0;
    height: 0;
    visibility: hidden;
    .opacity(0);
    .transition(all .3s ease);
    &.shw {
        padding: 5px 0;
        visibility: visible;
        .opacity(1);
        height: 100%;
    }
}

.sub-menu-itm {
    padding: 10px;
    padding-left: 55px;
    font-size: 14px;
    color: #fff;
    margin: 5px 0;
    &:hover {
        color: #fff;
        background-color: rgba(200, 200, 200, 0.2);
    }
    &.active {
        background-color: rgba(200, 200, 200, 0.2);
    }
}