#role-detail-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='role-detail-modal', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h5#exampleModalLongTitle.modal-title Role 1
                a.close(href="javascript:;", data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
            .modal-body
                .user-detail-ct
                    form
                        .form-group
                            label Role name:
                            input.ipt.d-block(type="text", placeholder="Role name", value="Role 1")
                            span.err-msg.d-none This field is required
                        .form-group
                            label Role description:
                            #editor-txt-1
                        .row
                            .col-md-4.col-12
                                .form-group
                                    label Enable:
                                    .chkb
                                        input#role-enable-client(type="checkbox")
                                        label.mb-0(for="role-enable-client") Yes
                            .col-md-4.col-12
                                .form-group
                                    label Create at:
                                    input.ipt.d-block(type="text", readonly, placeholder="Create at", value="01/10/2018")
                            .col-md-4.col-12
                                .form-group
                                    label Update at:
                                    input.ipt.d-block(type="text", readonly, placeholder="Update at", value="01/12/2018")
                        .form-group
                            label Role access:
                            .access-list.mt-15
                                .row
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-all(type="checkbox")
                                                label.mb-0(for="access-all") Select all
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-1(type="checkbox")
                                                label.mb-0(for="access-1") Access 1
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-2(type="checkbox")
                                                label.mb-0(for="access-2") Access 2
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-3(type="checkbox")
                                                label.mb-0(for="access-3") Access 3
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-4(type="checkbox")
                                                label.mb-0(for="access-4") Access 4
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-5(type="checkbox")
                                                label.mb-0(for="access-5") Access 5
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-6(type="checkbox")
                                                label.mb-0(for="access-6") Access 6
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-7(type="checkbox")
                                                label.mb-0(for="access-7") Access 7
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-8(type="checkbox")
                                                label.mb-0(for="access-8") Access 8
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-9(type="checkbox")
                                                label.mb-0(for="access-9") Access 9
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-10(type="checkbox")
                                                label.mb-0(for="access-10") Access 10
                                    .col-md-6.col-12
                                        .access-itm.mb-10
                                            .chkb
                                                input#access-11(type="checkbox")
                                                label.mb-0(for="access-11") Access 11
            .modal-footer
                button.btn.btn-red(type='button', data-dismiss='modal') Close
                button.btn.btn-blue(type='button') Save changes
// END: Role detail modal